<template>
  <div class="search_field">
    <input class="search_input" placeholder="Поиск тэгов...">
    <SvgIcon name="search" class="search_icon" />
  </div>
</template>

<script>
export default {
  name: 'SearchTag',
}
</script>

<style scoped>
.w_block {
  width: 100%;
}
.search_field{
 width: 100%;
  position: relative;
}
.search_input {
  width: 100%;
  background: white;
  border-radius: 15px;
  padding: 20px 18px;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  border: 1px solid rgba(30,30,30, 0.08);

  outline: 0;

  transition: border 0.2s linear;
}

.search_input:focus {
  outline: 0;
  border: 1px solid #000000;
}

.search_input::placeholder {
  font-size: 16px;
  color: #aaaaaa;
  font-weight: 600;
}

.search_icon {
  width: 18px;
  height: 18px;
  color: #aaaaaa;
  position: absolute;
  top: 50%;
  right: 3%;

  transform: translateY(-50%);
}
</style>
