<template>
  <div class="w_block relative">
    <input class="search_input" placeholder="Введите заголовок объявления..." @input="setSearchText">
    <SvgIcon name="search" class="search_icon" />
  </div>
</template>

<script>
import debounce from 'lodash.debounce'
import { useStore } from '@nuxtjs/composition-api'
export default {
  name: 'Search',
  emits: {
    inputText: null,
  },
  setup (props, { emit }) {
    const { dispatch } = useStore()
    const setSearchText = (e) => {
      dispatch('loader/handleLoader', true)
      searchActive(e)
    }

    const searchActive = debounce((e) => {
      emit('inputText', e.target.value)
    }, 500)

    return { setSearchText }
  },
}
</script>

<style scoped>
.w_block {
  width: 95%;
}
.search_input {
  width: 95%;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  padding: 20px 18px;
  font-size: 16px;
  color: #000000;
  font-weight: 600;

  outline: 0;
}

.search_input:focus {
  outline: 0;
}

.search_input::placeholder {
  font-size: 16px;
  color: #aaaaaa;
  font-weight: 600;
}

.search_icon {
  width: 18px;
  height: 18px;
  color: #aaaaaa;
  position: absolute;
  top: 50%;
  right: 8%;

  transform: translateY(-50%);
}
</style>
