<template>
  <header class="max-w-max w-full bg-white px-7 py-5 my_flex flex-row items-center">
    <div class="my_flex flex-row items-center">
      <MenuBtn />
      <Logo />
    </div>
    <ProfileHeader :user="user" ml />
  </header>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import MenuBtn from '@/components/ui/buttons/MenuBtn'
import Logo from '@/components/header/Logo'
import ProfileHeader from '@/components/header/ProfileHeader'
export default {
  name: 'Header',
  components: { ProfileHeader, Logo, MenuBtn },
  setup () {
    const { state } = useStore()

    const user = computed(() => state.auth.user)

    return {
      user,
    }
  },
}
</script>

<style scoped>

</style>
