<template>
  <nav class="nav my_flex flex-col justify-between">
    <div class="my_flex flex-col">
      <nuxt-link to="/" :class="{'current': $route.name === 'index'}" class="nav_item my_flex flex-row items-center text_decoration relative">
        <SvgIcon name="house-fill" class="fill_svg" />
        <span class="nav_item-name text-base font-semibold">Главная</span>
      </nuxt-link>
      <nuxt-link to="/task" :class="{'current': $route.name === 'task'}" class="nav_item my_flex flex-row items-center text_decoration relative">
        <SvgIcon name="clipboard2-fill" class="fill_svg" />
        <span class="nav_item-name text-base font-semibold">Объявления</span>
      </nuxt-link>
      <nuxt-link to="/chat" :class="{'current': $route.name === 'chat'}" class="nav_item my_flex flex-row items-center text_decoration relative">
        <SvgIcon name="chat-fill" class="fill_svg" />
        <span class="nav_item-name text-base font-semibold">Чаты</span>
      </nuxt-link>
      <nuxt-link to="/profile" :class="{'current': $route.name === 'profile'}" class="nav_item my_flex flex-row items-center text_decoration relative">
        <SvgIcon name="person-fill" class="fill_svg" />
        <span class="nav_item-name text-base font-semibold">Профиль</span>
      </nuxt-link>
    </div>
    <Logout />
  </nav>
</template>

<script>
import Logout from '@/components/ui/buttons/Logout'
export default {
  name: 'Nav',
  components: { Logout },
}
</script>

<style scoped>
.nav {
  width: 240px;
  height: calc(100vh - 100px);
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 99;
  background: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  transition: width 300ms ease-in 0s;
  padding-top: 40px;
  padding-bottom: 20px;
}

.nav_item {
  padding: 23px 0;
  margin-left: 15px;
  background: white;
}

.text_decoration {
  text-decoration: none;
  color: #C1C1C1;
}

.text_decoration:hover {
  text-decoration: none;
  color: #C1C1C1;
}

.nav_item.current:after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 80%;
  margin-left: 0;
  height: -webkit-fill-available;
  background: #F1C310;
  border-radius: 0px 20px 20px 0px;
  z-index: 1;
}

.nav_item-name {
  color: #C1C1C1;
  margin-left: 12px;
  z-index: 10;
}

.fill_svg {
  color: #C1C1C1;
  width: 24px;
  height: 24px;
  fill: #C1C1C1;
  z-index: 10;
}

.nav_item.current .fill_svg{
  color: white;
  width: 24px;
  height: 24px;
  fill: white;
}

.nav_item.current .nav_item-name {
  color: white;
  fill: white;
}

@media (max-width: 767px) {
  .nav {
    width: 0;
  }
}
</style>
