<template>
  <nuxt-link to="/profile" :class="classes" class="flex-row flex items-center text_decoration">
    <img v-if="user.images.length > 0" :src="`${$env.IMAGE_URL}${user.images[0].img}`" :class="{'profile_icon-sm': small}" class="profile_icon" alt="">
    <img v-else src="@/static/images/default/avatarDef.png" :class="{'profile_icon-sm': small}" class="profile_icon" alt="">
    <span :class="{'profile_name-sm': small}" class="profile_name">{{ fullName }}</span>
  </nuxt-link>
</template>

<script>
import { computed } from '@nuxtjs/composition-api'

export default {
  name: 'ProfileHeader',
  props: {
    ml: {
      type: Boolean,
      default: false,
    },
    small: {
      type: Boolean,
      default: false,
    },
    user: {
      type: Object,
      default: () => {},
    },
  },
  setup (props) {
    const classes = computed(() => ({
      ml_profile: props.ml,
    }))
    return {
      classes,
      fullName: computed(() => {
        if (props.user !== null) {
          return `${props.user?.name} ${props.user?.surname}`
        }
        return ''
      }),
    }
  },
}
</script>

<style scoped>
.profile_icon {
  width: 42px;
  height: 42px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.profile_name {
  color: #333333;
  margin-left: 6px;
  font-size: 16px;
  font-weight: 700;
}

.text_decoration {
  text-decoration: none;
  color: #333333;
}

.text_decoration:hover {
  text-decoration: none;
  color: #333333;
}

.ml_profile {
  margin-left: 100px;
}

.profile_icon-sm {
  width: 36px;
  height: 36px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.profile_name-sm {
  color: #333333;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 600;
}

</style>
