<template>
  <div class="w-full my_flex flex-col mb_text">
    <div class="task_pretext">
      Фото:
    </div>
    <div class="w-full my_flex flex-row">
      <TaskImageSlider :images="images" />
    </div>
  </div>
</template>

<script>
import TaskImageSlider from '@/components/ui/slider/TaskImageSlider'
export default {
  name: 'TaskImages',
  components: { TaskImageSlider },
  props: {
    images: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style scoped>
.task_pretext {
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: Inter, sans-serif;
}

.task_text {
  font-size: 16px;
  color: #4D4B4B;
  white-space: pre-line;
  margin-top: -28px;
}

.mb_text {
  margin-bottom: 40px;
}
</style>
