<template>
  <div class="w-full my_flex flex-col mb_text">
    <div class="task_pretext">
      Описание:
    </div>
    <p class="task_text">
      {{ description }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'TaskDescription',
  props: {
    description: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.task_pretext {
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: Inter, sans-serif;
}

.task_text {
  font-size: 16px;
  color: #4D4B4B;
  white-space: pre-line;
  margin-top: -28px;
  font-family: Inter, sans-serif;
}

.mb_text {
  margin-bottom: 40px;
}
</style>
