<template>
  <div class="w-full my_flex flex-col mb_text">
    <div class="task_pretext">
      Местоположение:
    </div>
    <div class="task_map">
      <img class="map_img" src="@/static/images/map.jpg" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'TaskLocation',
}
</script>

<style scoped>
.task_pretext {
  font-size: 14px;
  color: #1d1d1d;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: Inter, sans-serif;
}

.task_text {
  font-size: 16px;
  color: #4D4B4B;
  white-space: pre-line;
  margin-top: -28px;
}

.mb_text {
  margin-bottom: 40px;
}

.task_map {
  width: 100%;
  max-height: 300px;
  height: 300px;
}

.map_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
</style>
