<template>
  <Snackbar
    :snackbar="snackbar"
    @closeSnackbar="closeSnackbar"
  />
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'

import Snackbar from '@/components/snackbar/Snackbar'
export default {
  name: 'SnackbarContainer',
  components: { Snackbar },
  setup () {
    const store = useStore()

    const mapActions = {
      closeSnackbar: status => store.dispatch('snackbar/handlerSnackbar', { active: status, valid: true, message: '' }),
    }

    return {
      snackbar: computed(() => store.state.snackbar.snackbar),
      ...mapActions,
    }
  },
}
</script>

<style scoped>

</style>
