<template>
  <button type="button" class="filter_btn" @click="openFilter">
    <div v-if="counterTags > 0" class="counter">
      <span v-if="counterTags > 9">9+</span>
      <span v-else>{{ counterTags }}</span>
    </div>
    <SvgIcon name="filter" class="filter_svg" />
    <span class="text-base">Фильтр</span>
  </button>
</template>

<script>
import { useStore, computed } from '@nuxtjs/composition-api'

export default {
  name: 'FilterBtn',
  emits: {
    open: null,
  },
  setup (props, { emit }) {
    const { getters } = useStore()
    const openFilter = () => {
      emit('open')
    }

    const counterTags = computed(() => getters['allTasks/counterAcceptTag'])

    return { counterTags, openFilter }
  },
}
</script>

<style scoped>
.filter_btn {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
  padding: 18px 25px;
  border-radius: 15px;
  background: white;
  border: 0;
  cursor: pointer;
  outline: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin-right: 15px;
}

.filter_btn:focus {
  outline: 0;
}

.filter_svg {
color: #000000;
  fill: #000000;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.counter {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #de0b6e;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  top: 5px;
  right: 5px;
  z-index: 100;
}
</style>
