<template>
  <BaseModal :active="isOpen" need-close-emit @close="close">
    <div class="body relative">
      <div class="modal_header">
        <h3 class="modal_header-h">
          Фильтр
        </h3>
      </div>
      <div class="choose_tags">
        <CheckBoxField label="Выберите тэги" :items="tags" @clickItem="clickItem" />
      </div>
      <div class="btn_wrap">
        <Button type="deleteTask" @click="cancelTags">
          Отменить
        </Button>
        <Button type="createTask" @click="acceptTags">
          Применить
        </Button>
      </div>
    </div>
  </BaseModal>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import BaseModal from '@/components/ui/modal/BaseModal'
import CheckBoxField from '@/components/ui/formsField/CheckBoxField'
import Button from '~/components/ui/buttons/Button'
export default {
  name: 'FilterModal',
  components: { BaseModal, CheckBoxField, Button },
  setup () {
    const { state, dispatch } = useStore()

    const isOpen = computed(() => {
      return state.modal.component === 'FilterModal'
    })

    const tags = computed(() => state.allTasks.tags)

    const clickItem = (tag) => {
      dispatch('allTasks/handleTag', tag)
    }

    const close = () => {
      dispatch('allTasks/handleClearTag')
      dispatch('modal/closeModal')
    }

    const acceptTags = () => {
      dispatch('allTasks/acceptTags')
      dispatch('modal/closeModal')
    }

    const cancelTags = () => {
      dispatch('allTasks/cancelTags')
      dispatch('modal/closeModal')
    }

    return {
      isOpen,
      tags,
      clickItem,
      close,
      acceptTags,
      cancelTags,
    }
  },
}
</script>

<style scoped>
.modal_header-h {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}

.modal_header {
  width: 100%;
  margin-bottom: 30px;
}

.search_tags {
  margin-bottom: 25px;
}

.choose_tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.btn_wrap {
  position: sticky;
  bottom: -50px;
  display: -ms-grid;
  display: grid;
  margin-bottom: -32px;
  margin-top: 50px;
  justify-content: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  background-color: #fff;
}

.cancel_btn {
  padding: 8px 12px;
  background: #e5e5e5;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.82);
  border-radius: 10px;
}

.cancel_btn:focus {
  outline: 0;
}

.accept_btn {
  padding: 11px 15px;
  background: #C8D7FF;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
}

.accept_btn:focus {
  outline: 0;
}
</style>
