<template>
  <div :class="{'profile__img-start': start}" class="profile-img-wrap w-inline-block profile__img">
    <div class="change-cover relative">
      <img
        v-if="avatarUrl.length === 0"
        src="@/static/images/default/avatarDef.png"
        alt=""
        class="img-cover img__cover"
      >
      <img
        v-else
        :src="avatarUrl"
        alt=""
        class="img-cover img__cover"
      >
      <input
        id="avatar"
        ref="avatar"
        type="file"
        name="avatar"
        accept="image/jpeg, image/png, image/jpg, image/webp"
        class="send__file--input"
        @change="handleFileUpload"
      >
      <div
        v-if="avatarUrl.length !== 0"
        class="delete cur_pointer"
        @click="clickDelete"
      >
        <SvgIcon name="close" class="close_svg" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AvatarField',
  props: {
    avatarUrl: {
      type: String,
      default: '',
    },
    start: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    handleFileUpload: null,
    clickDelete: null,
  },
  methods: {
    handleFileUpload (e) {
      const file = e.target.files[0]
      if (file) {
        this.$emit('handleFileUpload', file)
      }
    },
    clickDelete () {
      this.$emit('clickDelete')
      this.$refs.avatar.value = null
    },
  },
}
</script>

<style scoped>

.change-cover {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.active_error {
  display: block;
  opacity: 0;
}
.form-item-activate .active_error {
  opacity: 1;
}

.send__file--input {
  font-size: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  z-index: 36;
}

.profile__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__img-start {
  justify-content: flex-start;
}

.img__cover {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.cur_pointer {
  cursor: pointer;
}

.send__file--input {
  font-size: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 1;
}

.delete {
  position: absolute;
  top: 0;
  right: 1px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #44494fc7;
}

.close_svg {
  width: 15px;
  height: 15px;
  color: white;
  fill: white;
}
</style>
