<template>
  <div class="formcell mb32">
    <label
      class="label"
    >{{ label }}</label>
    <div class="checkbox_wrapper">
      <div
        v-for="choice in items"
        :key="choice.id"
        class="checkbox_parameter_wrap"
      >
        <div class="checkbox w-embed">
          <input
            :id="choice.id"
            :checked="choice.active"
            class="inp-cbx"
            type="checkbox"
            style="display: none"
            @click.prevent="
              clickOption(choice)
            "
          >
          <label
            class="cbx"
            :for="choice.id"
          ><span :class="{uncheck: !choice.active, check: choice.active}">
            <svg
              width="12px"
              height="10px"
              viewBox="0 0 12 10"
            >
              <path d="M10 2L4.5 7.5L2 5" />
            </svg>
          </span>
          </label>
        </div>
        <div class="parameter_name">
          {{ choice.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CheckBoxField',
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    label: {
      type: String,
      default: '',
    },
  },
  emits: {
    clickItem: null,
  },
  setup (props, { emit }) {
    const clickOption = (item) => {
      emit('clickItem', item)
    }

    return {
      clickOption,
    }
  },
}
</script>

<style scoped>
.formcell.mb32 {
  margin-bottom: 32px;
}

.checkbox {
  margin-left: -8px;
  position: relative;
}
.burger-container {
  width: calc(50vw - 121px);
  padding-left: calc(50vw - 502px);
}
.nav-menu {
  height: 100vh;
  top: 0;
  margin: 0;
}
.icon-wrap:hover .hint {
  display: block;
  animation: hint 200ms ease-out forwards;
}
@keyframes hint {
  to {
    opacity: 1;
    transform: translate(-50%, 4px);
  }
}
.textarea {
  resize: vertical;
}
.color-picker .icon-24px {
  display: none;
}
.color-picker.selected .icon-24px.selected {
  display: block;
}
.color-picker.disabled .icon-24px.disabled {
  display: block;
}
.slider-nav {
//display: inline-flex;
}
.product-card-wrap:nth-child(2n) {
  margin-top: 40px;
}
.product-card-wrap .product-card {
  margin-bottom: 12px;
}
.table-row {
  display: contents;
}
.table-row.not-available .cell:not(:nth-last-child) {
  opacity: 0.2;
}
/* Checkbox styles start */
.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  margin: 0px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.cbx:not(:last-child) {
}
.cbx:hover {
//background: rgba(0,119,255,0.06);
}
.cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  transform: scale(1);
  border: 1px solid rgba(30, 30, 30, 0.2);
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
  flex-shrink: 0;
}
.cbx span:first-child svg {
  position: absolute;
  top: 6px;
  left: 5px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
  flex-shrink: 0;
  font-size: 14px;
}
.cbx:hover span:first-child {
  border-color: #ed6a9a;
}
.inp-cbx:checked + .cbx span:first-child {
  background: #de0b6e;
  border-color: #de0b6e;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 32px;
}
.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .cbx {
    width: 100%;
    display: flex;
  }
}
@-moz-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
/* Checkboxes styles ends */
@media screen and (max-width: 768px) {
  .burger-container {
    width: 100%;
    padding-left: 32px;
  }
  .nav-menu {
    height: calc(100vh - 80px);
  }
  .table-row {
    display: block;
  }
  .table-row.not-available .cell:not(.cell-right) {
    opacity: 1;
  }
}
@media screen and (max-width: 568px) {
  .header.header-black-m .logo-svg path {
    fill: white;
  }
  .header.header-black-m .logo-svg .dot {
    fill: #de0b6e;
  }
  .header.header-black-m .icon-24px path {
    fill: white;
  }
  .header.header-black-m .nav-menu {
    height: calc(100vh - 56px);
  }
}

.checkbox_parameter_wrap {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.parameter_name {
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  font-weight: 500;
}

.uncheck {
  background: white !important;
  border: 1px solid rgba(30, 30, 30, 0.2) !important;
}

.check {
  background: #F1C310 !important;
  border-color: #F1C310 !important;
  animation: wave 0.4s ease;
}

.label {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(30, 30, 30, 1);
  font-weight: 700;
}

.checkbox_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .checkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
</style>
