<template>
  <div
    id="w-node-fbf03de0-03cf-b112-7c90-b8b4df793272-f4841441"
    class="formcell"
  >
    <div class="label-wrap label-wrap-left">
      <label class="label nm">{{ label }}</label>
    </div>
    <div>
      <div class="upload_photo">
        <draggable
          v-model="chooseFiles"
          filter=".delete-wrap"
          :animation="200"
          ghost-class="ghost-card"
          group="fileUrl"
        >
          <div
            v-for="(file, index) in chooseFiles"
            :key="file.name"
            class="product_cover mb_right"
          >
            <img
              :src="file.url"
              loading="lazy"
              alt=""
              class="product-img pi-review"
            >
            <a
              v-if="!changeModal"
              href="#"
              class="like-btn w-inline-block"
              @click.prevent="clickDeletePhoto(index)"
            >
              <div class="icon-16px w-embed">
                <SvgIcon
                  name="deleteImage"
                  width="16"
                  height="16"
                />
              </div>
            </a>
          </div>
        </draggable>
        <button
          v-if="!changeModal"
          id="w-node-c1e4dbb4-f009-2ea2-851f-5ee1497b278b-f4841441"
          type="button"
          href="#"
          class="add-photo w-inline-block button_response"
        >
          <input
            id="file"
            ref="files"
            type="file"
            multiple
            class="send__file--input"
            accept="image/png, image/jpeg, image/webp"
            @change="handleFileUpload"
          >
          <div>Добавить фото</div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
  name: 'DownloadImagesField',
  components: { draggable },
  props: {
    id: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    filesUrl: {
      type: Array,
      default: () => {
        return []
      },
    },
    status: {
      type: Boolean,
      default: false,
    },
    v: {
      type: Object,
      default: () => {
        return {}
      },
    },
    changeModal: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    handleFileUpload: null,
    clickDeletePhoto: null,
    updateFilesUrl: null,
  },
  computed: {
    chooseFiles: {
      get () {
        return this.filesUrl
      },
      set (value) {
        this.$emit('updateFilesUrl', value)
      },
    },
  },
  methods: {
    handleFileUpload () {
      const uploadedFiles = this.$refs.files.files
      if (uploadedFiles) {
        this.$emit('handleFileUpload', uploadedFiles)
        this.$refs.files.value = null
      }
    },
    clickDeletePhoto (index) {
      this.$emit('clickDeletePhoto', index)
    },
  },
}
</script>

<style scoped>
.images-error {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: #de0b6e !important;
  margin-top: 10px;
  font-weight: 600;
}

.ghost-card {
  opacity: 0.5;
  background: #f7fafc;
  border: 1px solid #4299e1;
}

.send__file--input {
  font-size: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 1000;
}

.button_response {
  position: relative;
  width: 95px;
  height: 95px;
  background: none;
}

.upload_photo {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.upload_photo div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.product_cover {
  width: 95px;
  height: 95px;
  border-radius: 12px;
}

.product_cover img {
  border-radius: 12px;
}

.mb_right {
  margin-right: 10px;
}

#w-node-fbf03de0-03cf-b112-7c90-b8b4df793272-f4841441 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.label-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.label-wrap.label-wrap-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.label {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 26px;
  color:rgba(31, 31, 31, 1);
}

.label.nm {
  margin-bottom: 0px;
  font-weight: 400;
}

.label.nm {
  margin-bottom: 0px;
  font-weight: 700;
}

.product-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.like-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px;
  border-radius: 4px 12px;
  background-color: rgba(30, 30, 30, 0.08);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.like-btn:hover {
  background-color: rgba(30, 30, 30, 0.2);
}

.icon-16px {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add-photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(30, 30, 30, 0.2);
  border-radius: 12px;
  color: rgba(30, 30, 30, 0.6);
  font-size: 12px;
  text-decoration: none;
}

.add-photo:hover {
  border-color: rgba(30, 30, 30, 0.4);
}

@media screen and (max-width: 767px) {
  #w-node-fbf03de0-03cf-b112-7c90-b8b4df793272-f4841441 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  .label {
    font-size: 16px;
    line-height: 22px;
  }

  .label.nm {
    font-size: 16px;
    line-height: 22px;
  }

  .product-img.pi-review {
    height: 90px;
  }

  #w-node-c1e4dbb4-f009-2ea2-851f-5ee1497b278b-f4841441 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  .add-photo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: dashed;
    border-width: 1px;
    border-color: rgba(30, 30, 30, 0.2);
    border-radius: 12px;
    color: rgba(30, 30, 30, 0.6);
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
  }
}
</style>
