<template>
  <RowFormField :v="v" :label="label">
    <input
      type="text"
      :class="{'big': big}"
      class="input-form-field__input"
      :value="value"
      :placeholder="placeholder"
      @input="inputValue"
    >
  </RowFormField>
</template>

<script>
import RowFormField from '@/components/ui/formsField/RowFormField'
export default {
  name: 'InputField',
  components: { RowFormField },
  props: {
    label: {
      type: String,
      default: '',
    },
    id: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    v: {
      type: [Boolean, Object],
      default: false,
    },
    big: {
      type: Boolean,
      default: false,
    },
  },
  setup (props, context) {
    const inputValue = (value) => {
      context.emit('input', value.target.value)
    }

    return { inputValue }
  },
}
</script>

<style scoped>
.input-form-field__input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.82);
  background: white;
  border: 1px solid rgba(30, 30, 30, 0.08);
  border-radius: 15px;
  outline: 0;

  transition: border 0.2s linear;
}

.input-form-field__input:focus {
  outline: 0;
  border: 1px solid rgba(30, 30, 30, 0.48);
}

.input-form-field__input::placeholder{
  font-size: 16px;
  color: rgba(193, 193, 193, 1);
}

.big {
  padding: 18px;
}
</style>
