<template>
  <div class="formcell">
    <label
      v-if="label"
      class="row-form-field__label"
    >
      <span class="row_label">
        {{ label }}
      </span>
    </label>
    <div :class="{'row-form-field__field__error': error}" class="row-form-field__field">
      <slot />

      <div
        v-if="error"
        class="row-form-field__error"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from '@nuxtjs/composition-api'
export default {
  name: 'RowFormField',
  props: {
    label: {
      type: String,
      default: '',
    },
    v: {
      type: [Boolean, Object],
      default: false,
    },
    noBorder: {
      type: Boolean,
      default: false,
    },
  },
  setup () {
    const value = computed(({ v }) => {
      return v?.$model
    })

    const error = computed(({ v }) => {
      if (!v) {
        return false
      }

      if (v.$errors.length > 0 && v?.required?.$invalid) {
        return 'Обязательное поле'
      }
      if (v.$errors.length > 0 && v?.email?.$invalid) {
        return 'Неправильный формат почты'
      }
      if (v.$errors.length > 0 && v?.equalPassword?.$invalid) {
        return 'Пароли не совпадают'
      }
      return false
    })

    return { value, error }
  },
}
</script>

<style scoped>
.formcell {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.row-form-field__label {
  font-size: 16px;
  font-family: "Roboto",sans-serif;
  color: rgba(35, 32, 32, 0.73);
  font-weight: 500;
  margin-bottom: 6px;
  margin-left: 5px;
}

.row-form-field__field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row-form-field__error {
  margin-top: 6px;
  color: #de0b6e;
  font-size: 12px;
  line-height: 16px;
}

.row-form-field__field__error .input-form-field__input {
  border: 1px solid  #de0b6e !important;
}
</style>
