<template>
  <RowFormField :v="v" :label="label">
    <div class="switch-form-field">
      <div
        class="switch-form-field__button"
        :class="classes"
        @click="onClick"
      >
        <div class="switch-form-field__button-toddler" />
      </div>
    </div>
  </RowFormField>
</template>

<script>
import { computed } from '@nuxtjs/composition-api'
import RowFormField from '@/components/ui/formsField/RowFormField'
export default {
  name: 'SwitchField',
  components: { RowFormField },
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: '',
    },
    v: {
      type: [Boolean, Object],
      default: false,
    },
    large: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  setup (props, { emit }) {
    const classes = computed(() => {
      return {
        'switch-form-field__button_active': props.value,
        'switch-form-field__button_large': props.large,
        'switch-form-field__button_disabled': props.disabled,
      }
    })

    const onClick = () => {
      if (props.disabled) {
        return
      }
      emit('input', !props.value)
    }

    return {
      classes,
      onClick,
    }
  },
}
</script>

<style scoped>
.switch-form-field__button {
  width: 42px;
  height: 24px;
  background-color: rgba(30, 30, 30, 0.2);
  border-radius: 12px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.switch-form-field__button-toddler{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.switch-form-field__button_active {
  background-color: #f1c310;
}

.switch-form-field__button_active .switch-form-field__button-toddler {
  transform: translateX(18px);
}

.switch-form-field__button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
</style>
