<template>
  <RowFormField :v="v" :label="label">
    <textarea
      class="input-form-field__textarea"
      :value="value"
      :placeholder="placeholder"
      @input="inputValue"
    />
  </RowFormField>
</template>

<script>
import RowFormField from '@/components/ui/formsField/RowFormField'
export default {
  name: 'TextareaField',
  components: { RowFormField },
  props: {
    label: {
      type: String,
      default: '',
    },
    id: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    v: {
      type: [Boolean, Object],
      default: false,
    },
  },
  setup (props, context) {
    const inputValue = (value) => {
      context.emit('input', value.target.value)
    }

    return { inputValue }
  },
}
</script>

<style scoped>
.input-form-field__textarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.82);
  background: white;
  border: 1px solid rgba(30, 30, 30, 0.08);
  border-radius: 15px;
  outline: 0;
  min-height: 150px;
  resize: vertical;

  transition: border 0.2s linear;
}
</style>
