<template>
  <div>
    <RegistrationAuthForm v-show="step === 'auth'" @submitFormAuth="submitFormAuth" />
    <RegistrationUserForm v-show="step === 'user'" @submitFormUser="submitFormUser" />
  </div>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import RegistrationAuthForm from '@/components/registration/RegistrationAuthForm'
import RegistrationUserForm from '@/components/registration/RegistrationUserForm'

export default {
  name: 'RegistrationContainer',
  components: { RegistrationUserForm, RegistrationAuthForm },
  setup () {
    const { state, dispatch } = useStore()

    const step = computed(() => state.registration.step)

    const submitFormAuth = (formAuth) => {
      const data = {
        email: formAuth.email,
        password: formAuth.password,
      }
      dispatch('registration/formAuth', data)
    }

    const submitFormUser = (formUser) => {
      dispatch('registration/registrationUser', formUser)
    }

    return {
      step,
      submitFormAuth,
      submitFormUser,
    }
  },
}
</script>

<style scoped>

</style>
