<template>
  <component
    :is="component"
    class="file_type"
    :class="classes"
    :type="actionType"
    @click="onClick"
  >
    <div class="file_type-info">
      <div class="file_type-iconblock" :style="{'background': iconBlock}">
        <SvgIcon :name="icon" class="file_type-icon" :style="{'color': iconFill, 'fill': iconFill}" />
      </div>
      <div class="file_type-text">
        <div class="file_type-title">
          {{ nameType }}
        </div>
        <div class="file_type-count">
          Файлов {{ count }}
        </div>
      </div>
    </div>
    <SvgIcon name="arrw" class="svg_arrw-type" />
  </component>
</template>

<script>
export default {
  name: 'FileTypeBtn',
  props: {
    type: {
      type: String,
      default: 'image',
    },
    actionType: {
      type: String,
      default: 'button',
      validator: type => ['button', 'reset', 'submit'].includes(type),
    },
    icon: {
      type: String,
      default: '',
    },
    iconFill: {
      type: String,
      default: '#D0BD8B',
    },
    iconBlock: {
      type: String,
      default: '#F4EAD0',
    },
    nameType: {
      type: String,
      default: 'Изображения',
    },
    count: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    component ({ url, to }) {
      if (url) { return 'a' }
      if (to) { return 'nuxt-link' }
      return 'button'
    },
    classes: ({ type }) => ({
      [`files_${type}`]: true,
    }),
  },
  methods: {
    onClick () {
      this.$emit('click')
    },
  },
}
</script>

<style scoped>
.file_type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;

  margin-bottom: 10px;
}

.file_type:focus {
  outline: 0;
}

.svg_arrw-type {
  width: 12px;
  height: 12px;
  color: #C1C1C1;
  fill: #C1C1C1;
}

.file_type-info {
  display: flex;
  align-items: center;
}

.file_type-iconblock {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file_type-icon {
  width: 16px;
  height: 16px;
}

.file_type-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.file_type-title {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 2px;
  color: black;
  font-family: Inter, sans-serif;
}

.file_type-count {
  color: #AAAAAA;
  font-size: 10px;
  font-family: Inter, sans-serif;
}
</style>
