<template>
  <nuxt-link :to="`/task/${task.id}`" class="task text_decoration relative">
    <div class="cover_card">
      <img v-if="task.images.length > 0" v-lazy="`${$env.IMAGE_URL}/${task.images[0].img}`" class="cover_card-img">
      <img v-else v-lazy="error" class="cover_card-img">
    </div>
    <div class="task_info">
      <h5 class="task_title">
        {{ shortTitle }}
      </h5>
      <slot />
      <p class="task_description">
        {{ shortDescription }}
      </p>
      <div v-if="avatar" class="w-full my_flex flex-row mb-8">
        <div class="avatar_block">
          <img src="@/static/images/default/avatarDef.png" class="avatar_task" alt="">
        </div>
        <div class="avatar_block">
          <img src="@/static/images/default/avatarDef.png" class="avatar_task" alt="">
        </div>
        <div class="avatar_block">
          <img src="@/static/images/default/avatarDef.png" class="avatar_task" alt="">
        </div>
        <div class="avatar_block_counter">
          <span>+5</span>
        </div>
      </div>
      <div class="w-full my_flex flex-row items-center justify-between stat_block">
        <div class="task_date">
          {{ dateCreate }}
        </div>
        <div v-if="false" class="task_count-view flex-row my_flex items-center">
          <SvgIcon name="hand-index-fill" class="task_view-counter" />
          <span>{{ views }}</span>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import dateCreate from '@/composables/task/dateCreate'
import useShortData from '~/composables/task/useShortData'

export default {
  name: 'TaskBig',
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    date: {
      type: String,
      default: '',
    },
    views: {
      type: Number,
      default: 0,
    },
    avatar: {
      type: Boolean,
      default: true,
    },
    task: {
      type: Object,
      default: () => {},
    },
  },
  setup (props) {
    return {
      ...dateCreate(props),
      ...useShortData(props),
    }
  },
}
</script>

<style scoped>
.text_decoration {
  text-decoration: none;
  color: black;
}

.text_decoration:hover{
  text-decoration: none;
  color: black;
}
.task {
  width: 30%;
  min-height: 231px;
  background: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.task_info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.task_title {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 500;
  font-family: Inter,sans-serif;
  margin-bottom: 10px;
}

.task_description {
  color: rgba(193, 193, 193, 1);
  font-size: 15px;
  font-weight: 400;
  font-family: Inter, sans-serif;

  margin-bottom: 30px;
}

.task_date {
  font-size: 15px;
  color: rgba(193, 193, 193, 1);
  font-family: Inter, sans-serif;
}

.task_count-view {
  color: rgba(80, 11, 11, 1);
  font-size: 16px;
}

.task_view-counter {
  color: #F1C310;
  fill: #F1C310;
  width: 18px;
  height: 18px;
}

.avatar_block {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: -14px;
}

.avatar_block:first-child {
  margin-left: 0;
}

.avatar_task {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.stat_block {
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 0 15px;
}

.avatar_block_counter {
  background: #44494fc7;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: -14px;
}

.cover_card {
  width: 100%;
  max-height: 144px;
  border-radius: 15px 15px 2px 2px;
  position: relative;
}

.cover_card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 2px 2px;
}
</style>
