<template>
  <nuxt-link :to="`/task/${task.id}`" class="task text_decoration">
    <div class="cover_card">
      <img v-if="task.images.length > 0" v-lazy="`${$env.IMAGE_URL}/${task.images[0].img}`" class="cover_card-img">
      <img v-else v-lazy="error" class="cover_card-img">
    </div>
    <div class="task_info">
      <h5 class="task_title">
        {{ shortTitle }}
      </h5>
      <p class="task_description">
        {{ shortDescription }}
      </p>
      <div class="w-full my_flex flex-row items-center justify-between">
        <div class="task_date">
          {{ dateCreate }}
        </div>
        <div v-if="false" class="task_count-view flex-row my_flex items-center">
          <SvgIcon name="hand-index-fill" class="task_view-counter" />
          <span>{{ views }}</span>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import useShortData from '~/composables/task/useShortData'
import dateCreate from '~/composables/task/dateCreate'
export default {
  name: 'TaskSmall',
  props: {
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    date: {
      type: String,
      default: '',
    },
    task: {
      type: Object,
      default: () => {},
    },
    views: {
      type: Number,
      default: 0,
    },
  },
  setup (props) {
    return {
      ...useShortData(props),
      ...dateCreate(props),
    }
  },
}
</script>

<style scoped>
.text_decoration {
  text-decoration: none;
  color: black;
}

.text_decoration:hover{
  text-decoration: none;
  color: black;
}
.task {
  width: 265px;
  min-height: 231px;
  background: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.task_info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.task_title {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 500;
  font-family: Inter,sans-serif;
  margin-bottom: 30px;
  text-align: left;
}

.task_description {
  color: rgba(193, 193, 193, 1);
  font-size: 15px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  text-align: left;

  margin-bottom: 30px;
}

.task_date {
  font-size: 15px;
  color: rgba(193, 193, 193, 1);
  font-family: Inter, sans-serif;
}

.task_count-view {
  color: rgba(80, 11, 11, 1);
  font-size: 16px;
}

.task_view-counter {
  color: #F1C310;
  fill: #F1C310;
  width: 18px;
  height: 18px;
}

.cover_card {
  width: 100%;
  max-height: 104px;
  border-radius: 15px 15px 2px 2px;
  position: relative;
}

.cover_card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 2px 2px;
}
</style>
