<template>
  <div class="w-full feedback_item">
    <div class="feedback_author">
      <div class="feedback_author-img">
        <img src="@/static/images/default/avatarDef.png" class="feedback_author-photo" alt="">
      </div>
      <span class="feedback_author-name">{{ feedback.user.name }} {{ feedback.user.surname }}</span>
    </div>
    <p class="feedback_description">
      {{ feedback.message }}
    </p>
    <div v-if="feedback.is_taken === null" class="feedback_btn-wrap">
      <Button type="cancelFeedback" @click="clickFeedback({accept: false, offer: feedback.id})">
        Отклонить
      </Button>
      <Button type="acceptFeedback" @click="clickFeedback({accept: true, offer: feedback.id})">
        Принять
      </Button>
    </div>
    <div v-else-if="!feedback.is_taken" style="color: #fd5d62" class="feedback_btn-wrap">
      Отклонена
    </div>
    <div v-else class="feedback_btn-wrap" style="color: #8aef74">
      Принята
    </div>
    <div class="line" />
  </div>
</template>

<script>
import Button from '@/components/ui/buttons/Button'
export default {
  name: 'FeedbackItem',
  components: { Button },
  props: {
    feedback: {
      type: Object,
      default: () => {},
    },
  },
  setup (props, { emit }) {
    const clickFeedback = (payload) => {
      emit('clickFeedback', payload)
    }

    return {
      clickFeedback,
    }
  },
}
</script>

<style scoped>
.feedback_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.feedback_author {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.feedback_author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 6px;
}

.feedback_author-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.feedback_author-name {
  font-size: 16px;
  color: black;
}

.feedback_description {
  color: #1d1d1d;
  font-size: 14px;
  margin-bottom: 10px;
}

.feedback_btn-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background: #f1c310;
  border-radius: 5px;
}
</style>
