<template>
  <BaseModal need-close-emit flex-start :active="isOpen" @close="close">
    <div class="body relative">
      <div class="modal_header">
        <h3 class="modal_header-h">
          Отлики
        </h3>
        <div class="modal_description">
          В данном разделе вы можете принять наиболее понравившиеся отлики на вашу просьбу.
          После чего в разделе <span style="color: #F1C310">Чаты</span> вы сможете написать волонтёру.
        </div>
      </div>
      <div v-if="feedbacks.length > 0" class="modal_body">
        <FeedbackItem v-for="feedback in feedbacks" :key="feedback.id" :feedback="feedback" @clickFeedback="clickFeedback" />
      </div>
    </div>
  </BaseModal>
</template>

<script>
import { computed, onMounted, useStore } from '@nuxtjs/composition-api'
import BaseModal from '@/components/ui/modal/BaseModal'
import FeedbackItem from '@/components/tasksProfile/FeedbackItem'
export default {
  name: 'FeedbackModal',
  components: { FeedbackItem, BaseModal },
  setup (props, { root }) {
    const { dispatch, state } = useStore()
    const isOpen = computed(() => {
      return state.modal.component === 'FeedbackModal'
    })

    const feedbacks = computed(() => state.tasksProfile.feedbacks)

    const clickFeedback = (payload) => {
      dispatch('tasksProfile/handleFeedback', payload)
      close()
    }

    const close = () => {
      dispatch('modal/closeModal')
      dispatch('tasksProfile/handleClearFeedback')
    }

    onMounted(() => {
      dispatch('tasksProfile/loadFeedbacks')
    })

    return { isOpen, feedbacks, clickFeedback, close }
  },
}
</script>

<style scoped>
.modal_header-h {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.modal_header {
  width: 100%;
  margin-bottom: 30px;
}

.modal_description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(30, 30, 30, 0.6);
  margin-top: 16px;
}

.modal_body {
  width: 100%;
  margin-top: 15px;
}

</style>
