<template>
  <div class="flex flex-col items-start justify-start marg_40">
    <div class="block_text">
      <h3 class="about_chat-title">
        Нужна помощь!
      </h3>
      <h3 class="about_chat-subtitle">
        В разделе <span style="color: #F1C310">Ваши объявления</span> вы можете создавать объявления с просьбой о помощи.
      </h3>
      <Button type="started" @click="clickStarted">
        Давай начнем
      </Button>
    </div>
  </div>
</template>

<script>
import { useStore } from '@nuxtjs/composition-api'
import Button from '@/components/ui/buttons/Button'
export default {
  name: 'ProfileTasksEmpty',
  components: { Button },
  setup () {
    const { dispatch } = useStore()
    const clickStarted = () => {
      dispatch('modal/openModal', { component: 'TasksFormModal', context: null })
    }

    return {
      clickStarted,
    }
  },
}
</script>

<style scoped>
.about_chat-img {
  width: 75%;
  height: auto;
  object-fit: cover;
}

.about_chat-title {
  width: 100%;
  text-align: left;
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}

.about_chat-subtitle {
  color: #4A4A4A;
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-align: left;
  margin-bottom: 60px;
}

.block_text {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.marg_40 {
  margin-top: 60px;
}
</style>
