<template>
  <div>
    <section class="w-full my_flex flex-col margin_task">
      <div class="w-full my_flex flex-row mt-8">
        <Button type="createTask" @click="openModal">
          Создать объявление
        </Button>
      </div>
      <div class="w-full my_flex flex-row flex-wrap mt-8">
        <TaskProfile
          v-for="task in tasks"
          :key="task.id"
          :task="task"
          :avatar="false"
          :title="task.title"
          :description="task.description"
          :date="'1 час назад'"
          :views="1"
          @openModal="openChangeModal"
          @openFeedback="openFeedback"
        >
          <div v-if="task.tags.length > 0" class="w-full flex-row my_flex flex-wrap mb-6">
            <Tag v-for="tag in task.tags" :key="tag" :tag="tag" />
          </div>
        </TaskProfile>
        <Observer v-if="tasks.length" @intersect="handleTasks" />
      </div>
    </section>
  </div>
</template>

<script>
import { useStore } from '@nuxtjs/composition-api'
import TaskProfile from '@/components/ui/task/TaskProfile'
import Tag from '@/components/ui/tag/Tag'
import Button from '@/components/ui/buttons/Button'
import Observer from '@/components/ui/Observer'
export default {
  name: 'ProfileTasks',
  components: { Observer, Button, Tag, TaskProfile },
  props: {
    tasks: {
      type: Array,
      default: () => [],
    },
  },
  setup () {
    const { dispatch } = useStore()
    const openModal = () => {
      dispatch('modal/openModal', { component: 'TasksFormModal', context: null })
    }

    const openChangeModal = (task) => {
      dispatch('modal/openModal', { component: 'TasksFormModal', context: task })
    }

    const handleTasks = () => {
      dispatch('tasksProfile/handleObserverTasks')
    }

    const openFeedback = (id) => {
      dispatch('modal/openModal', { component: 'FeedbackModal', context: { id } })
    }

    return {
      openModal,
      openChangeModal,
      handleTasks,
      openFeedback,
    }
  },
}
</script>

<style scoped>

</style>
