<template>
  <BaseModal flex-start :active="isOpen">
    <div class="body relative">
      <div class="modal_header">
        <h3 class="modal_header-h">
          Создать объявление
        </h3>
      </div>
      <form action="#">
        <TasksSwitcher
          v-model="model.is_anonymous"
          title="Скрыть автора"
        >
          <template #description>
            Ваш профиль будет скрыт.
          </template>
        </TasksSwitcher>
        <InputField
          :id="'title'"
          v-model="v.title.$model"
          big
          :v="v.title"
          label="Заголовок"
          placeholder="Введите заголовок..."
        />
        <TextareaField :id="'description'" v-model="v.description.$model" :v="v.description" label="Описание" placeholder="Опишите проблему..." />
        <CheckBoxField label="Выберите тэги" :items="model.tags" @clickItem="clickItem" />
        <DownloadImagesField
          :id="'photos'"
          label="Фото"
          :change-modal="model.changeModal"
          :files-url="model.filesUrl"
          @handleFileUpload="handleFileUpload"
          @clickDeletePhoto="clickDeletePhoto"
          @updateFilesUrl="updateFilesUrl"
        />
      </form>
      <div class="btn_wrap">
        <Button v-if="model.changeModal" type="deleteTask" @click="deleteTask">
          Удалить
        </Button>
        <Button v-if="!model.changeModal" type="createTask" :loading="isSaving" @click="submitForm">
          Создать
        </Button>
        <Button v-if="model.changeModal" type="createTask" :loading="isSaving" @click="submitForm">
          Сохранить
        </Button>
      </div>
    </div>
  </BaseModal>
</template>

<script>
import { computed, onMounted, reactive, ref, useStore } from '@nuxtjs/composition-api'
import cloneDeep from 'lodash.clonedeep'
import { required } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import BaseModal from '@/components/ui/modal/BaseModal'
import InputField from '@/components/ui/formsField/InputField'
import TextareaField from '@/components/ui/formsField/TextareaField'
import CheckBoxField from '@/components/ui/formsField/CheckBoxField'
import TasksSwitcher from '@/components/tasksProfile/TasksSwitcher'
import DownloadImagesField from '@/components/ui/formsField/DownloadImagesField'
import Button from '~/components/ui/buttons/Button'
export default {
  name: 'TasksFormModal',
  components: { DownloadImagesField, TasksSwitcher, CheckBoxField, BaseModal, InputField, TextareaField, Button },
  setup (props, { root }) {
    const { state, dispatch } = useStore()
    let isSaving = ref(false)
    let contextModal = reactive(null)

    const model = reactive({
      title: '',
      description: '',
      tags: [],
      is_anonymous: false,
      place: '',
      images: [],
      filesUrl: [],
      changeModal: false,
    })

    const rules = computed(() => ({
      title: {
        required,
      },
      description: {
        required,
      },
    }))

    const v = useVuelidate(rules, model)

    const isOpen = computed(() => {
      return state.modal.component === 'TasksFormModal'
    })

    const clickItem = (item) => {
      const tag = model.tags.find(tagItem => tagItem.id === item.id)
      if (tag !== undefined) {
        tag.active = !tag.active
      }
    }

    onMounted(() => {
      model.tags = cloneDeep(state.tasksProfile.tags)
      if (state.modal.context !== null) {
        contextModal = state.modal.context
        model.is_anonymous = contextModal.is_anonymous
        model.title = contextModal.title
        model.description = contextModal.description
        model.place = contextModal.place
        model.tags = model.tags.map((tag) => {
          if (contextModal.tags.includes(tag?.name)) {
            tag.active = true
          }
          return tag
        })
        model.filesUrl = contextModal.images.map((item) => {
          return { url: `${root.$env.IMAGE_URL}${item.img}`, name: item.img.split('.')[0] }
        })
        model.changeModal = true
      }
    })

    const handleFileUpload = (uploadedFiles) => {
      Array.from(uploadedFiles).forEach((item) => {
        model.filesUrl.push({
          url: URL.createObjectURL(item),
          name: item.name,
        })
      })
      model.images.push(Array.from(uploadedFiles))
    }
    const clickDeletePhoto = (index) => {
      model.filesUrl.splice(index, 1)
      model.images.splice(index, 1)
    }
    const updateFilesUrl = (value) => {
      model.filesUrl = value
    }

    const deleteTask = () => {
      dispatch('tasksProfile/deleteTask')
    }

    const submitForm = () => {
      v.value.$touch()
      if (!v.value.$invalid) {
        isSaving = true
        const taskData = {
          title: model.title,
          description: model.description,
          is_anonymous: model.is_anonymous,
          tags: model.tags.filter(tag => tag.active === true).map(tagItem => tagItem.name),
          place: 'string',
        }

        const taskImages = model.images.map((image) => {
          return {
            img: image[0],
          }
        })
        dispatch('tasksProfile/createTask', { taskData, taskImages, isChange: model.changeModal })
        isSaving = false
        dispatch('modal/closeModal')
      }
    }

    return {
      isOpen,
      v,
      model,
      isSaving,
      clickItem,
      handleFileUpload,
      clickDeletePhoto,
      updateFilesUrl,
      submitForm,
      deleteTask,
    }
  },
}
</script>

<style scoped>

.modal_header-h {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.modal_header {
  width: 100%;
  margin-bottom: 30px;
}

.search_tags {
  margin-bottom: 25px;
}

.choose_tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.btn_wrap {
  bottom: -50px;
  display: -ms-grid;
  display: grid;
  margin-bottom: -32px;
  margin-top: 50px;
  justify-content: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-columns: max-content max-content;
  grid-template-rows: auto;
  background-color: #fff;
}

.cancel_btn {
  padding: 8px 12px;
  background: #e5e5e5;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.82);
  border-radius: 10px;
}

.cancel_btn:focus {
  outline: 0;
}

.accept_btn {
  padding: 11px 15px;
  background: #C8D7FF;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
}

.accept_btn:focus {
  outline: 0;
}
</style>
