<template>
  <div class="publish-switcher">
    <div class="publish-switcher__left">
      <div class="publish-switcher__title">
        {{ title }}
      </div>
      <div
        v-if="$slots['description']"
        class="publish-switcher__description"
      >
        <slot name="description" />
      </div>
    </div>

    <div class="publish-switcher__right">
      <SwitchField
        :value="value"
        :disabled="false"
        @input="$emit('input', $event)"
      />
    </div>
  </div>
</template>

<script>
import SwitchField from '@/components/ui/formsField/SwitchField'
export default {
  name: 'TasksSwitcher',
  components: { SwitchField },
  props: {
    title: {
      type: String,
      default: '',
    },
    value: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style scoped>
.publish-switcher {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}

.publish-switcher__right {
  margin-left: 50px;
}

.publish-switcher__title {
  font-size: 18px;
  font-weight: 700;
}

.publish-switcher__description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(30, 30, 30, 0.6);
  margin-top: 8px;
}
</style>
