<template>
  <div>
    <TaskItemSkeletonGroup v-if="activeLoader && !tasks.length" />
    <div v-else class="w-full my_flex flex-row flex-wrap mt-30">
      <TaskSmall
        v-for="task in tasks"
        :key="task.id"
        :task="task"
        :title="task.title"
        :description="task.description"
        :views="1"
      />
    </div>
  </div>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import TaskSmall from '@/components/ui/task/TaskSmall'
import TaskItemSkeletonGroup from '~/components/sceletons/TaskItemSkeletonGroup'
export default {
  name: 'TaskContainer',
  components: { TaskItemSkeletonGroup, TaskSmall },
  setup () {
    const { state } = useStore()

    const tasks = computed(() => state.allTasks.tasks.slice(0, 8))
    const activeLoader = computed(() => state.loader.active)

    return {
      tasks,
      activeLoader,
    }
  },
}
</script>

<style scoped>

</style>
