<template>
  <form method="post" class="px-4 flex flex-col max-w-md mx-auto md:max-w-max">
    <div class="header_form">
      <div v-if="title" class="title">
        <h3 class="text-4xl text-black font-semibold text-left md:text-3xl">
          {{ title }}
        </h3>
      </div>
      <div v-if="subtitle" class="subtitle font-semibold text-left text-base">
        {{ subtitle }}
      </div>
    </div>
    <div class="body_form">
      <slot />
    </div>
  </form>
</template>

<script>
export default {
  name: 'Form',
  props: {
    title: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.title {
  margin-bottom: 10px;
}

.subtitle {
  color: #797881;
}
</style>
