<template>
  <div class="chat_input-body">
    <div class="chat_input_block">
      <textarea v-model="message" class="chat_input" placeholder="Введите сообщение..." />
      <button class="btn_input" @click="clickSend">
        <SvgIcon name="send-fill" class="chat_send-fill" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChatInput',
  emits: {
    clickSend: null,
  },
  data: () => ({
    message: '',
  }),
  methods: {
    clickSend () {
      if (this.message !== '') {
        this.$emit('clickSend', this.message)
        this.message = ''
      }
    },
  },
}
</script>

<style scoped>
.chat_input-body {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.chat_input_block {
  width: 100%;
  position: relative;
}

.chat_input {
  resize: none;
  width: 100%;
  padding: 20px 0;
  padding-right: 60px;
  padding-left: 25px;
  font-size: 16px;
  color: #423D3D;
  font-weight: 500;
  font-family: Inter, sans-serif;
  box-shadow: 0px 2px 10px 0px #00000005;
  border-radius: 15px;
  background: white;
  height: 66px;

  outline: 0;
  border: 0;
}

.chat_input::placeholder {
color: #C1C1C1;
}

.btn_input {
  width: 38px;
  height: 38px;
  position: absolute;
  top:46%;
  right: 20px;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transform: translateY(-50%);
  background: #01A28C;
}

.btn_input:focus {
  outline: 0;
}

.chat_send-fill {
  color: white;
  fill: white;
  width: 16px;
  height: 16px;
}
</style>
