<template>
  <div class="chat_profile-block">
    <div class="chat_profile-img">
      <img v-if="profile.images.length > 0" :src="`${$env.IMAGE_URL}${profile.images[0].img}`" class="chat_profile-avatar" alt="">
      <img v-else src="@/static/images/default/avatarDef.png" class="chat_profile-avatar" alt="">
    </div>
    <div class="chat_profile-name">
      {{ profile.name }} {{ profile.surname }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChatProfile',
  props: {
    profile: {
      type: Object,
      default: () => {},
    },
  },
}
</script>

<style scoped>
.chat_profile-block {
  width: 100%;
  background: white;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 15%);
  padding: 25px 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 36px;
}

.chat_profile-img {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.chat_profile-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat_profile-name {
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-family: Inter, sans-serif;
}
</style>
