<template>
  <div class="chat_files">
    <h4 class="chat_file-header">
      Файлы
    </h4>
    <div class="chat_file-block">
      <FileTypeBtn :count="20" :icon="'file'" icon-block="#DFE1F9" icon-fill="#5765CF" :name-type="'Документы'" />
      <FileTypeBtn :count="20" :icon="'cardImage'" :name-type="'Изображения'" />
    </div>
  </div>
</template>

<script>
import FileTypeBtn from '@/components/chat/file/FileTypeBtn'
export default {
  name: 'ChatFile',
  components: { FileTypeBtn },
}
</script>

<style scoped>
.chat_file-header {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgba(119, 119, 119, 1);

  margin-bottom: 22px;
}
</style>
