<template>
  <div class="chat_nav my_flex flex-col justify-between">
    <div class="w-full my_flex flex-col">
      <ChatLogout />
      <div class="marg_block">
        <ChatProfile :profile="profileInfo" />
        <ChatFile v-if="false" />
      </div>
    </div>
    <div v-if="false" class="w-full pad_block">
      <Button type="complaint">
        Подать жалобу
      </Button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ChatLogout from '@/components/chat/ChatLogout'
import ChatProfile from '@/components/chat/ChatProfile'
import ChatFile from '@/components/chat/ChatFile'
import Button from '@/components/ui/buttons/Button'
export default {
  name: 'ChatNav',
  components: { Button, ChatFile, ChatProfile, ChatLogout },
  computed: {
    ...mapState({
      profile: state => state.chat.chatInfo,
      user: state => state.auth.user,
    }),
    profileInfo () {
      if (this.profile?.helper?.id === this.user?.id) {
        return this.profile?.taker
      }
      return this.profile?.helper
    },
  },
}
</script>

<style scoped>
.chat_nav {
  width: 320px;
  height: 100%;
  padding: 0 16px;
}

.pad_block {
  padding: 0 30px;
}

.marg_block {
  padding: 0 30px;
  margin-top: 56px;
}
</style>
