<template>
  <section class="chat_body">
    <MessageList :messages="messages" />
    <ChatInput @clickSend="clickSend" />
  </section>
</template>

<script>
import { mapState } from 'vuex'
import MessageList from '@/components/chat/message/MessageList'
import ChatInput from '@/components/chat/ChatInput'
export default {
  name: 'ChatBody',
  components: { ChatInput, MessageList },
  computed: {
    ...mapState({
      messages: state => state.chat.messages,
    }),
  },
  emits: {
    clickSend: null,
  },
  methods: {
    clickSend (payload) {
      this.$emit('clickSend', payload)
    },
  },
}
</script>

<style scoped>
.chat_body {
  width: calc(100% - 320px);
  padding: 10px 20px;
  margin: 0 20px;
  height: 100%;
  background: #EDF0F6;
  border-radius: 15px;
}
</style>
