<template>
  <div :class="{'popup--open': active}" class="popup">
    <div :class="{'popup-flex_start': flexStart}" class="popup-flex">
      <div class="window-popup relative">
        <form action="#">
          <slot />
          <button type="button" class="function-close" @click="clickClose">
            <SvgIcon name="closeSnackbar" class="svg_close" />
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from '@nuxtjs/composition-api'

export default {
  name: 'BaseModal',
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    needCloseEmit: {
      type: Boolean,
      default: false,
    },
    flexStart: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    close: null,
  },
  setup (props, { emit }) {
    const { dispatch } = useStore()
    const clickClose = () => {
      if (props.needCloseEmit) {
        emit('close')
      } else {
        dispatch('modal/closeModal')
      }
    }

    return {
      clickClose,
    }
  },
}
</script>

<style scoped>
body.popup--open .popup {
  display: block !important;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 3000;
  display: none;
  background: linear-gradient(180deg, rgba(10, 18, 28, 0.75), rgba(10, 18, 28, 0.75));
  overflow-x: hidden;
  overflow-y: auto;
}

.popup--open {
  display: block !important;
}

.popup-flex {
  position: relative;
  z-index: 3;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-flex_start {
  justify-content: flex-start !important;
}

.window-popup {
  width: 720px;
  padding: 60px;
  border-radius: 20px;
  background: white;
}

.function-close {
  position: absolute;
  top: 24px;
  right: 24px;
  transition: opacity .2s ease;
}

.svg_close {
  width: 20px;
  height: 20px;
  fill: #1E1E1E;
  color: #1E1E1E;
}
</style>
