<template>
  <div class="auth_form">
    <div class="my-7">
      <EmailField :id="'email'" v-model="v.email.$model" :label="'Почта'" :placeholder="'example@gmail.com'" :v="v.email" />
      <PasswordField :id="'password'" v-model="v.password.$model" :label="'Пароль'" :placeholder="'Введите пароль'" :v="v.password" />
      <Button
        :type="'auth'"
        :loading="isSaving"
        @click="submitForm"
      >
        Войти
      </Button>
      <RegistrationText />
    </div>
  </div>
</template>

<script>
import { computed, reactive } from '@nuxtjs/composition-api'
import { useVuelidate } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
import EmailField from '~/components/ui/formsField/EmailField'
import PasswordField from '~/components/ui/formsField/PasswordField'
import Button from '~/components/ui/buttons/Button'
import RegistrationText from '~/components/registration/RegistrationText'
export default {
  name: 'AuthForm',
  components: { RegistrationText, Button, PasswordField, EmailField },
  props: {
    isSaving: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    submitForm: null,
  },
  setup (props, context) {
    const state = reactive({
      email: '',
      password: '',
    })

    const rules = computed(() => ({
      email: {
        required,
        email,
      },
      password: {
        required,
      },
    }))

    const v = useVuelidate(rules, state)

    const submitForm = () => {
      v.value.$touch()
      if (!v.value.$invalid) {
        context.emit('submitForm', state)
      }
    }

    return { state, v, submitForm }
  },
}
</script>

<style scoped>
.auth_form {
  width: 100%;
}

.separator {
  width: 100%;
  margin-bottom: 28px;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgba(193, 193, 193, 1);
}

.separator span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 75%;
  width: 80px;
  height: 2px;
  background: #E5E5E5;
  transform: translateY(-50%);
}

.separator span:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 75%;
  width: 80px;
  height: 2px;
  background: #E5E5E5;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .separator span:after {
    width: 50px;
  }

  .separator span:before {
    width: 50px;
  }
}

@media (max-width: 467px) {
  .separator span:after {
    left: 85%;
  }

  .separator span:before {
    right: 85%;
  }
}
</style>
