<template>
  <div class="feedback_block">
    <div class="w-full">
      <h4 v-if="title !== ''" class="feedback_block-title mb-10">
        {{ title }}
      </h4>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'FeedbackBlock',
  props: {
    title: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.feedback_block {
  width: 80%;
  background: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 18px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  left: 0;
}

.feedback_block-title {
  font-size: 20px;
  color: black;
  font-weight: 700;
  font-family: Inter, sans-serif;
}
</style>
