<template>
  <div>
    <Landing v-if="!isAuth" />
    <HomePage v-else />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Context } from '@nuxt/types'
import Landing from '~/components/landing/Landing.vue'
import HomePage from '~/components/home/HomePage.vue'

export default Vue.extend({
  name: 'IndexPage',
  components: { HomePage, Landing },
  layout (context) {
    const { store } = context
    const isAuth: boolean = store.getters['auth/isAuthenticated']
    if (isAuth) {
      return 'main'
    }
    return ''
  },
  async asyncData (ctx: Context): Promise<void | object> {
    const { store } = ctx
    const isAuth: boolean = await store.getters['auth/isAuthenticated']
    if (isAuth) {
      await store.dispatch('auth/load', ctx)
    }

    return {
      isAuth,
    }
  },
  head () {
    return {
      title: 'Главная - HelpMe',
    }
  },
  mounted () {
    this.$store.dispatch('loader/handleLoader', true)
    this.$store.dispatch('allTasks/loadAllTasks')
  },
})
</script>

<style scoped>
body {
  overflow: hidden !important;
}
</style>
