<template>
  <div class="position">
    <Section center row>
      <div class="basis-1/2 items-center justify-center md:basis-full">
        <Form :title="'Войти'" :subtitle="'Введите ваши данные, которые вы \n ввели во время регистрации'">
          <AuthFormContainer />
        </Form>
      </div>
      <div class="basis-1/2 my_flex items-center content-center md:hidden">
        <img src="@/static/images/Image.jpg" alt="" class="max-w-full h-auto object-cover">
      </div>
    </Section>
    <SnackbarContainer />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Section from '~/components/ui/section/Section.vue'
import Form from '~/components/ui/forms/Form.vue'
import AuthFormContainer from '~/containers/auth/AuthFormContainer.vue'
import SnackbarContainer from '~/containers/snackbar/SnackbarContainer.vue'
import useIsAuth from '~/composables/auth/useAuth'

export default Vue.extend({
  name: 'LoginPage',
  components: { SnackbarContainer, AuthFormContainer, Form, Section },
  setup () {
    useIsAuth()
  },
  head () {
    return {
      title: 'Логин - HelpMe',
    }
  },
})
</script>

<style scoped>
.position {
  position: relative;
}
</style>
