<template>
  <div class="position">
    <Section center row>
      <div class="basis-1/2 my_flex items-center content-center md:hidden">
        <img src="@/static/images/default/thanks.png" alt="" class="max-w-full h-auto object-cover">
      </div>
      <div class="basis-1/2 items-center justify-center md:basis-full">
        <Form :title="title" :subtitle="subtitle">
          <RegistrationContainer />
        </Form>
      </div>
    </Section>
    <SnackbarContainer />
  </div>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import Section from '@/components/ui/section/Section'
import SnackbarContainer from '~/containers/snackbar/SnackbarContainer.vue'
import Form from '~/components/ui/forms/Form.vue'
import RegistrationContainer from '@/containers/registration/RegistrationContainer'
import { registration } from '@/store/registration'
export default {
  name: 'Registration',
  components: {
    RegistrationContainer,
    Section,
    SnackbarContainer,
    Form,
  },
  setup () {
    const { state } = useStore()

    const title = computed(() => {
      if (state.registration.step === 'auth') {
        return 'Регистрация'
      }
      return 'И ещё немного...'
    })

    const subtitle = computed(() => {
      if (state.registration.step === 'auth') {
        return 'Мы рады новым людям в нашем сообществе!'
      }
      return 'Вы можете заполнить данные о себе!'
    })

    return {
      subtitle,
      title,
    }
  },
  head () {
    return {
      title: 'Регистрация - HelpMe',
    }
  },
}
</script>

<style scoped>

</style>
