<template>
  <div class="w-full my_flex items-center registration_text">
    Еще не зарегистрированы?
    <nuxt-link to="/registration" class="color_text">
      Зарегистрироваться
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'RegistrationText',
}
</script>

<style scoped>
.registration_text {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: rgba(0,0,0, 0.25);
  margin-top: 18px;
}

.color_text {
color: rgba(255,129,129, 0.58);
  margin-left: 4px;
}
</style>
