<template>
  <div class="auth_form">
    <div class="my-7">
      <AvatarField
        :avatar-url="state.avatarUrl"
        @handleFileUpload="handleFileUpload"
        @clickDelete="clickDeletePhoto"
      />
      <InputField :id="'name'" v-model="v.name.$model" :v="v.name" label="Имя" placeholder="Введите имя..." />
      <InputField :id="'surname'" v-model="v.surname.$model" :v="v.surname" label="Фамилия" placeholder="Введите фамилию..." />
      <TextareaField :id="'description'" v-model="state.description" :v="v.description" label="О вас" placeholder="Опишите себя..." />
      <Button
        :type="'registration'"
        @click="submitFormAuth"
      >
        Завершить регистрацию
      </Button>
    </div>
  </div>
</template>

<script>
import { computed, reactive } from '@nuxtjs/composition-api'
import { useVuelidate } from '@vuelidate/core'
import { required } from '@vuelidate/validators'
import Button from '~/components/ui/buttons/Button'
import InputField from '@/components/ui/formsField/InputField'
import TextareaField from '@/components/ui/formsField/TextareaField'
import AvatarField from '@/components/ui/formsField/AvatarField'
export default {
  name: 'RegistrationUserForm',
  components: { AvatarField, TextareaField, InputField, Button },
  emits: {
    submitFormUser: null,
  },
  setup (props, { emit }) {
    const state = reactive({
      avatar: '',
      avatarUrl: '',
      name: '',
      surname: '',
      description: '',
    })

    const rules = computed(() => ({
      name: {
        required,
      },
      surname: {
        required,
      },
      description: {
        required,
      },
    }))

    const v = useVuelidate(rules, state)

    const handleFileUpload = (file) => {
      state.avatar = file
      state.avatarUrl = URL.createObjectURL(file)
    }

    const clickDeletePhoto = () => {
      state.avatarUrl = ''
      state.avatar = ''
    }

    const submitFormAuth = () => {
      v.value.$touch()
      if (!v.value.$invalid) {
        emit('submitFormUser', state)
      }
    }

    return {
      state,
      v,
      submitFormAuth,
      handleFileUpload,
      clickDeletePhoto,
    }
  },
}
</script>

<style scoped>
.auth_form {
  width: 100%;
}
</style>
