<template>
  <div class="auth_form">
    <div class="my-7">
      <EmailField :id="'email'" v-model="v.email.$model" :label="'Почта'" :placeholder="'example@gmail.com'" :v="v.email" />
      <PasswordField :id="'password'" v-model="v.password.$model" :label="'Пароль'" :placeholder="'Введите пароль'" :v="v.password" />
      <PasswordField :id="'repPassword'" v-model="v.repPassword.$model" :label="'Подтверждение пароля'" :placeholder="'Повторите пароль'" :v="v.repPassword" />
      <Button
        :type="'registration'"
        @click="submitFormAuth"
      >
        Регистрация
      </Button>
    </div>
  </div>
</template>

<script>
import { computed, reactive } from '@nuxtjs/composition-api'
import { email, required, sameAs } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import EmailField from '~/components/ui/formsField/EmailField'
import PasswordField from '~/components/ui/formsField/PasswordField'
import Button from '~/components/ui/buttons/Button'
export default {
  name: 'RegistrationAuthForm',
  components: { EmailField, PasswordField, Button },
  emits: {
    submitFormAuth: null,
  },
  setup (props, context) {
    const state = reactive({
      email: '',
      password: '',
      repPassword: '',
    })

    const rules = computed(() => ({
      email: {
        required,
        email,
      },
      password: {
        required,
      },
      repPassword: {
        required,
        equalPassword: sameAs(state.password),
      },
    }))

    const v = useVuelidate(rules, state)

    const submitFormAuth = () => {
      v.value.$touch()
      if (!v.value.$invalid) {
        context.emit('submitFormAuth', state)
      }
    }

    return { state, v, submitFormAuth }
  },
}
</script>

<style scoped>
.auth_form {
  width: 100%;
}
</style>
