<template>
  <div>
    <section class="w-full my_flex flex-col margin_task">
      <ProfileFilter v-model="status" />
      <ProfileForm />
    </section>
  </div>
</template>

<script>
import { ref } from '@nuxtjs/composition-api'
import ProfileFilter from '@/components/profile/ProfileFilter'
import ProfileForm from '@/components/profile/ProfileForm'
export default {
  components: { ProfileForm, ProfileFilter },
  layout: 'main',
  validate (ctx) {
    return ctx.store.getters['auth/isAuthenticated']
  },
  setup () {
    const status = ref('/profile')

    return {
      status,
    }
  },
  fetch (ctx) {
    ctx.store.dispatch('auth/load')
  },
  head () {
    return {
      title: 'Профиль - HelpMe',
    }
  },
}
</script>

<style scoped>
.margin_task {
  margin: 30px 0;
  padding: 0 10px;
}
</style>
