<template>
  <div>
    <section class="w-full my_flex flex-col margin_task">
      <ProfileFilter v-model="status" />
      <TaskItemBigSkeletonGroup v-if="activeLoader && !tasks.length" />
      <ProfileTasksEmpty v-else-if="!activeLoader && tasks.length === 0" />
      <ProfileTasks v-else :tasks="tasks" />
    </section>
    <TasksFormModal v-if="modal === 'TasksFormModal'" />
    <FeedbackModal v-if="modal === 'FeedbackModal'" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ProfileFilter from '@/components/profile/ProfileFilter'
import TasksFormModal from '@/components/tasksProfile/TasksFormModal'
import ProfileTasksEmpty from '@/components/tasksProfile/ProfileTasksEmpty'
import ProfileTasks from '@/components/tasksProfile/ProfileTasks'
import TaskItemBigSkeletonGroup from '@/components/sceletons/TaskItemBigSkeletonGroup'
import FeedbackModal from '@/components/tasksProfile/FeedbackModal'
export default {
  components: { FeedbackModal, ProfileTasks, ProfileTasksEmpty, TasksFormModal, ProfileFilter, TaskItemBigSkeletonGroup },
  layout: 'main',
  validate (ctx) {
    return ctx.store.getters['auth/isAuthenticated']
  },
  data: () => ({
    status: '/profile/tasks',
  }),
  head () {
    return {
      title: 'Ваши объявления - HelpMe',
    }
  },
  computed: {
    ...mapState({
      tasks: state => state.tasksProfile.tasks,
      modal: state => state.modal.component,
      activeLoader: state => state.loader.active,
    }),
  },
  created () {
    this.$store.dispatch('loader/handleLoader', true)
    this.$store.dispatch('auth/load')
    this.$store.dispatch('tasksProfile/loadTags')
    this.$store.dispatch('tasksProfile/loadTasks', true)
  },
}
</script>

<style scoped>
.margin_task {
  margin: 30px 0;
  padding: 0 10px;
}
</style>
