<template>
  <section class="flex flex-row w-full mt-10">
    <div class="flex flex-col w-full">
      <GridPosts :title="'Объявления'" />
    </div>
  </section>
</template>

<script>
import GridPosts from '~/components/ui/grid/GridPosts'
export default {
  name: 'HomePage',
  components: { GridPosts },
}
</script>

<style scoped>

</style>
