<template>
  <SwitchingNotificationBtn v-model="status" :items="items.items" />
</template>

<script>
import { computed, reactive } from '@nuxtjs/composition-api'
import SwitchingNotificationBtn from '@/components/ui/buttons/SwitchingNotificationBtn'
export default {
  name: 'NotificationFilter',
  components: { SwitchingNotificationBtn },
  props: {
    value: {
      type: String,
      default: 'personal',
    },
  },
  setup (props, { emit }) {
    const items = reactive({
      items: [
        {
          value: 'personal',
          label: 'Личные сообщения',
        },
        {
          value: 'task',
          label: 'Чат объявлений',
        },
      ],
    })

    const status = computed({
      get () {
        return props.value
      },
      set (newValue) {
        emit('input', newValue)
      },
    })

    return {
      items,
      status,
    }
  },
}
</script>

<style scoped>

</style>
