<template>
  <section class="w-full my_flex flex-row items-center justify-around h-full">
    <div class="my_flex items-center justify-center basis-1/2">
      <img class="about_chat-img" src="@/static/images/default/aboutChat.png" alt="">
    </div>
    <div class="my_flex flex-col items-center justify-center basis-1/2">
      <div class="block_text">
        <h3 class="about_chat-title">
          Найдем помощника вместе!
        </h3>
        <h3 class="about_chat-subtitle">
          В разделе <span style="color: #f1c310">Чаты</span> вы сможете связаться с помощниками.
        </h3>
        <Button type="started" @click="clickStarted">
          Давай начнем
        </Button>
      </div>
    </div>
  </section>
</template>

<script>
import Button from '@/components/ui/buttons/Button'
export default {
  name: 'AboutChat',
  components: { Button },
  setup (props, { root }) {
    const clickStarted = () => {
      root.$router.push('/profile/tasks')
    }

    return { clickStarted }
  },
}
</script>

<style scoped>
.about_chat-img {
  width: 75%;
  height: auto;
  object-fit: cover;
}

.about_chat-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}

.about_chat-subtitle {
  color: #4A4A4A;
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

.block_text {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
