<template>
  <BaseModal :active="isOpen">
    dfs
  </BaseModal>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import BaseModal from '@/components/ui/modal/BaseModal'
export default {
  name: 'ThemeModal',
  components: { BaseModal },
  setup () {
    const { state } = useStore()

    const isOpen = computed(() => {
      return state.modal.component === 'ThemeModal'
    })

    return {
      isOpen,
    }
  },
}
</script>

<style scoped>

</style>
