<template>
  <section class="w-full my_flex flex-row items-center justify-around h-full">
    <div class="my_flex items-center justify-center basis-1/2">
      <img class="about_chat-img" src="@/static/images/default/theme.png" alt="">
    </div>
    <div class="my_flex flex-col items-center justify-center basis-1/2">
      <div class="block_text">
        <h3 class="about_chat-title">
          Выбери тему!
        </h3>
        <Button type="choose">
          Выбери
        </Button>
        <Button type="started">
          Start
        </Button>
      </div>
    </div>
  </section>
</template>

<script>
import Button from '@/components/ui/buttons/Button'
export default {
  name: 'ThemeChat',
  components: { Button },

}
</script>

<style scoped>
.about_chat-img {
  width: 75%;
  height: auto;
  object-fit: cover;
}

.about_chat-title {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin-bottom: 50px;
}

.about_chat-subtitle {
  color: #4A4A4A;
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}

.block_text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
