<template>
  <Header />
</template>

<script>
import Header from '@/components/header/Header'
export default {
  name: 'HeaderContainer',
  components: { Header },
}
</script>

<style scoped>

</style>
