<template>
  <div class="h-full my_flex flex-row padding_nav">
    <ChatNav />
    <ChatBody @clickSend="clickSend" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ChatNav from '@/components/chat/ChatNav'
import ChatBody from '@/components/chat/ChatBody'
export default {
  components: { ChatBody, ChatNav },
  layout: 'chatLayout',
  async validate ({ params, store }) {
    await store.dispatch('chat/loadChat', params?.id)
    const chat = await store.state.chat.chatInfo
    return chat !== null
  },
  data: () => ({
    socket: null,
  }),
  head () {
    return {
      title: 'Чат - HelpMe',
    }
  },
  computed: {
    ...mapState({
      chatInfo: state => state.chat.chatInfo,
      user: state => state.auth.user,
      socket: state => state.chat.socket,
    }),
  },
  created () {
    this.$store.dispatch('chat/loadEmptyMessages')
  },
  mounted () {
    this.socket = new WebSocket(`wss://api.helpme.dane4kq.ru/ws/chat/${this.$store.state.chat.chatInfo?.room_code}/?token=${this.$store.state.auth.token}`)
    this.reconnectSocket()
  },
  methods: {
    clickSend (payload) {
      const data = {
        message: payload,
        sender_id: this.user?.id,
      }
      if (this.chatInfo?.helper === this.user?.id) {
        data.receiver_id = this.chatInfo?.taker.id
      }
      data.receiver_id = this.chatInfo?.helper.id
      this.socket.send(JSON.stringify(data))
    },
    reconnectSocket () {
      this.socket.onopen = (e) => {
        console.log(e)
      }

      this.socket.onmessage = function (event) {
        window.$nuxt.$store.dispatch('chat/loadEmptyMessages')
      }
      this.socket.onclose = function (event) {
        window.$nuxt.$store.dispatch('chat/reconnectSocket', true)
      }
    },
  },
}
</script>

<style scoped>
.padding_nav {
  padding: 25px 0;
  height: 100vh;
}
</style>
