<template>
  <div class="h-full">
    <div class="h-full my_flex flex-col margin_task">
      <h4 v-if="chats.length > 0 || activeLoader" class="header_grid--title">
        Чаты
      </h4>
      <NotificationSkeletonGroup v-if="activeLoader && !chats.length" />
      <AboutChat v-else-if="!activeLoader && chats.length === 0" />
      <div v-else class="w-full my_flex flex-row flex-wrap mt-16">
        <Notification v-for="chat in chats" :key="chat.id" :message="chat.latest_message" :count="1" :chat="chat" />
        <Observer v-if="chats.length" @intersect="handleChats" />
      </div>
    </div>
  </div>
</template>

<script>
import { computed, onMounted, useStore } from '@nuxtjs/composition-api'
import AboutChat from '@/components/chatOnboarding/AboutChat'
import Notification from '@/components/ui/notification/Notification'
import NotificationSkeletonGroup from '@/components/sceletons/notification/NotificationSkeletonGroup'
import Observer from '@/components/ui/Observer'
export default {
  components: { NotificationSkeletonGroup, Notification, AboutChat, Observer },
  layout: 'main',
  validate (ctx) {
    return ctx.store.getters['auth/isAuthenticated']
  },
  setup () {
    const { state, dispatch } = useStore()

    const activeLoader = computed(() => state.loader.active)
    const chats = computed(() => state.chats.chats)
    const handleChats = () => {
      dispatch('chats/loadChatsObserver')
    }

    onMounted(() => {
      dispatch('chats/loadChats')
    })

    return {
      activeLoader,
      chats,
      handleChats,
    }
  },
  head () {
    return {
      title: 'Чаты - HelpMe',
    }
  },
  created () {
    this.$store.dispatch('loader/handleLoader', true, { root: true })
  },
}
</script>

<style scoped>
.margin_task {
  margin: 30px 0;
  padding: 0 10px;
}
.header_grid--title {
  font-size: 24px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: black;
}
</style>
