<template>
  <FeedbackBlock title="Хотите помочь?">
    <form action="#" class="mt-10">
      <textarea v-model="state.comment" placeholder="Комментарий..." class="w-full textarea_feedback" />
      <div class="w_btn">
        <Button
          type="feedback"
          :loading="isSaving"
          @click="submitForm"
        >
          Откликнуться
        </Button>
      </div>
    </form>
  </FeedbackBlock>
</template>

<script>
import { reactive } from '@nuxtjs/composition-api'
import Button from '@/components/ui/buttons/Button'
import FeedbackBlock from '@/components/ui/block/FeedbackBlock'
export default {
  name: 'TaskFeedbackForm',
  components: { FeedbackBlock, Button },
  props: {
    isSaving: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    submitForm: null,
  },
  setup (props, context) {
    const state = reactive({
      comment: '',
    })

    const submitForm = () => {
      context.emit('submitForm', state)
    }

    return { state, submitForm }
  },
}
</script>

<style scoped>
.textarea_feedback {
  resize: none;
  min-height: 150px;
  border-radius: 7px;
  border: 1px solid rgba(30, 30, 30, 0.08);
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  padding: 10px;
  outline: 0;

  margin-bottom: 46px;
}

.textarea_feedback:focus {
  outline: 0;
  border: 1px solid rgba(30, 30, 30, 0.48);
}

.textarea_feedback::placeholder {
  color: rgba(193, 193, 193, 1);
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 600;
}
</style>
