<template>
  <div class="w-full my_flex flex-col items-center relative h_100">
    <TaskFeedbackForm v-if="!isHave" :is-saving="isSaving" @submitForm="submitForm" />
    <TaskFeedbackSend v-else />
  </div>
</template>

<script>
import { computed, ref, useStore } from '@nuxtjs/composition-api'
import TaskFeedbackForm from '@/components/task/feedback/TaskFeedbackForm'
import TaskFeedbackSend from '@/components/task/feedback/TaskFeedbackSend'
export default {
  name: 'TaskFeedback',
  components: { TaskFeedbackSend, TaskFeedbackForm },
  setup () {
    let isSaving = ref(false)
    const { state, dispatch } = useStore()
    const submitForm = (payload) => {
      isSaving = true
      dispatch('task/sendFeedback', payload)
      isSaving = false
    }

    const isHave = computed(() => {
      return state.task.feedback.isHave
    })

    return { isHave, isSaving, submitForm }
  },
}
</script>

<style scoped>
.h_100 {
  height: 100%;
}
</style>
