<template>
  <FeedbackBlock>
    <div class="my_flex flex-col justify-center items-center">
      <img class="thanks_img mb-10" src="@/static/images/default/thanks.png" alt="">
      <div class="thanks_text">
        Спасибо за ваш отклик!
      </div>
    </div>
  </FeedbackBlock>
</template>

<script>
import FeedbackBlock from '@/components/ui/block/FeedbackBlock'
export default {
  name: 'TaskFeedbackSend',
  components: { FeedbackBlock },
}
</script>

<style scoped>
.thanks_img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.thanks_text {
  font-size: 22px;
  color: #f1c310;
  font-family: Inter, sans-serif;
  text-align: center;
  font-weight: 500;
}
</style>
