<template>
  <div :style="{'background': color}" class="tag_item">
    <button type="button" class="btn_close">
      <SvgIcon name="cross" class="close_svg" />
    </button>
    {{ tag }}
  </div>
</template>

<script>
export default {
  name: 'CloseTag',
  props: {
    tag: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: '#A7AFF4',
    },
  },
}
</script>

<style scoped>
.tag_item {
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-right: 8px;
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.close_svg {
  width: 10px;
  height: 10px;
  color: white;
  fill: white;
}

.btn_close {
  width: 10px;
  height: 10px;
  border: 0;
  background: none;
  outline: 0;
  margin-right: 4px;
}

.btn_close:focus {
  outline: 0;
}
</style>
