<template>
  <div :style="{'background': color}" class="tag_item">
    {{ tag }}
  </div>
</template>

<script>
export default {
  name: 'Tag',
  props: {
    tag: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: '#A7AFF4',
    },
  },
}
</script>

<style scoped>
.tag_item {
border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-right: 8px;
  margin-top: 6px;
  font-family: Inter, sans-serif;
}
</style>
