<template>
  <div
    :class="{ active: snackbar.active }"
    class="snackbar snackbar-bottom"
  >
    <div class="error-msg">
      <div>{{ snackbar.message }}</div>
    </div>
    <a
      href="#"
      class="function-btn f-b-16 nm w-inline-block"
      @click.prevent="$emit('closeSnackbar', false)"
    >
      <SvgIcon color="black" name="closeSnackbar" />
    </a>

    <div class="handler" />
  </div>
</template>

<script>
export default {
  name: 'Snackbar',
  props: {
    snackbar: {
      type: Object,
      default: () => {},
    },
  },
  emits: {
    closeSnackbar: null,
  },
}
</script>

<style scoped>
.active {
  display: block !important;
}

.position {
  position: relative;
}

.snackbar {
  position: fixed;
  left: 50%;
  bottom: 112px;
  display: none;
  max-width: 400px;
  padding: 32px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.snackbar.snackbar-bottom {
  bottom: 32px;
}

.error-msg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.function-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.function-btn:hover {
  opacity: 0.6;
}

.function-btn.f-b-16 {
  top: 16px;
  right: 16px;
}

.handler {
  display: none;
}

@media screen and (max-width: 991px) {
  .handler {
    position: absolute;
    left: 50%;
    top: 12px;
    display: none;
    width: 48px;
    height: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.08);
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
}

@media screen and (max-width: 767px) {
  .snackbar {
    left: auto;
    bottom: 0px;
    z-index: 1000;
    width: 100%;
    max-width: none;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 16px;
    line-height: 22px;
  }

  .snackbar.snackbar-bottom {
    bottom: 0px;
  }

  .function-btn.f-b-16.nm {
    display: none;
  }

  .handler {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .snackbar {
    display: none;
  }

  .error-msg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }

  .handler {
    position: absolute;
    -webkit-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
  }
}
</style>
