<template>
  <div>
    <section class="w-full my_flex flex-row margin_task">
      <div class="body_task">
        <header class="w-full my_flex flex-row items-center justify-between mb-5">
          <h4 class="header_task">
            {{ task.title }}
          </h4>
          <span class="data_create shrink-0">
            {{ dateCreate }}
          </span>
        </header>
        <div v-if="task.tags.length > 0" class="w-full flex-row my_flex flex-wrap mb-10">
          <Tag v-for="tag in task.tags" :key="tag" :tag="tag" />
        </div>
        <div class="w-full my_flex">
          <ProfileHeader v-if="!task.is_anonymous" :user="task.user" small />
        </div>
        <div class="task_info">
          <TaskImages v-if="task.images.length > 0" :images="task.images" />
          <TaskDescription :description="task.description" />
          <TaskLocation v-if="false" />
        </div>
      </div>
      <div class="task_feedback">
        <TaskFeedback />
      </div>
    </section>
  </div>
</template>

<script>
import Tag from '@/components/ui/tag/Tag'
import ProfileHeader from '@/components/header/ProfileHeader'
import TaskDescription from '@/components/task/TaskDescription'
import TaskImages from '@/components/task/TaskImages'
import TaskLocation from '@/components/task/TaskLocation'
import TaskFeedback from '@/components/task/feedback/TaskFeedback'
export default {
  components: {
    TaskFeedback,
    TaskLocation,
    TaskImages,
    TaskDescription,
    Tag,
    ProfileHeader,
  },
  layout: 'main',
  async validate ({ store, params }) {
    await store.dispatch('auth/load')
    if (params?.id) {
      await store.dispatch('task/loadTask', params?.id)
    }
    const task = await store.state.task.task
    return store.getters['auth/isAuthenticated'] && task !== null
  },
  asyncData (ctx) {
    ctx.store.dispatch('task/loadFeedback')
  },
  data: () => ({
    task: null,
  }),
  head () {
    return {
      title: 'Объявление - HelpMe',
    }
  },
  computed: {
    dateCreate () {
      const parseDate = new Date(Date.parse(this.task.created_at))
      return parseDate.toLocaleString('ru', {
        day: 'numeric',
        month: 'short',
        year: 'numeric',
      })
    },
  },
  created () {
    this.task = this.$store.state.task.task
  },
}
</script>

<style scoped>
.margin_task {
  margin: 30px 0;
  padding: 0 10px;
}

.header_task {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  font-family: Inter, sans-serif;
}

.data_create {
  font-size: 18px;
  color: #C1C1C1;
  font-family: Inter, sans-serif;
}

.body_task {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.task_feedback {
  width: 40%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.task_info {
  margin-top: 40px;
}
</style>
