<template>
  <div>
    <section class="w-full my_flex flex-col margin_task">
      <h4 class="header_grid--title">
        Объявления
      </h4>
      <div class="w-full my_flex flex-row mt-14 sticky_block">
        <FilterBtn @open="openFilter" />
        <Search @inputText="inputText" />
      </div>
      <TaskItemBigSkeletonGroup v-if="activeLoader" />
      <div v-else class="w-full my_flex flex-row flex-wrap mt-16">
        <TaskBig
          v-for="task in tasks"
          :key="task.id"
          :task="task"
          :title="task.title"
          :description="task.description"
          :date="'1 час назад'"
          :avatar="false"
          :views="1"
        >
          <div class="w-full flex-row my_flex flex-wrap mb-6">
            <Tag v-for="tag in task.tags" :key="tag" :tag="tag" />
          </div>
        </TaskBig>
        <Observer v-if="tasks.length" @intersect="handleTasks" />
      </div>
    </section>
    <FilterModal v-if="modal === 'FilterModal'" />
  </div>
</template>

<script>
import Vue from 'vue'
import { computed, onMounted, useStore } from '@nuxtjs/composition-api'
import Search from '@/components/ui/search/Search'
import FilterBtn from '@/components/filter/FilterBtn'
import TaskBig from '@/components/ui/task/TaskBig'
import Observer from '@/components/ui/Observer'
import Tag from '@/components/ui/tag/Tag'
import FilterModal from '@/components/filter/FilterModal'
import TaskItemBigSkeletonGroup from '@/components/sceletons/TaskItemBigSkeletonGroup'
export default Vue.extend({
  components: { TaskItemBigSkeletonGroup, FilterModal, Tag, Search, FilterBtn, TaskBig, Observer },
  layout: 'main',
  validate (ctx) {
    ctx.store.dispatch('auth/load')
    return ctx.store.getters['auth/isAuthenticated']
  },
  setup () {
    const { dispatch, state } = useStore()
    const openFilter = () => {
      dispatch('modal/openModal', { component: 'FilterModal', context: null })
    }

    const tasks = computed(() => {
      return state.allTasks.tasks
    })

    const modal = computed(() => state.modal.component)
    const activeLoader = computed(() => state.loader.active)

    const inputText = (text) => {
      dispatch('allTasks/handleSearch', text)
    }

    const handleTasks = () => {
      dispatch('allTasks/handleObserverTasks')
    }

    onMounted(() => {
      dispatch('loader/handleLoader', true)
      dispatch('allTasks/loadTags')
      dispatch('allTasks/loadAllTasksPage')
    })

    return {
      tasks,
      modal,
      activeLoader,
      openFilter,
      inputText,
      handleTasks,
    }
  },
  head () {
    return {
      title: 'Объявления - HelpMe',
    }
  },
})
</script>

<style scoped>
.margin_task {
  margin: 30px 0;
  padding: 0 10px;
}

.header_grid--title {
  font-size: 24px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: black;
}

.sticky_block {
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 100;
  padding: 10px 0;
  background: white;
}
</style>
