<template>
  <div>
    <div class="profile_form-item-full">
      <AvatarField
        start
        :avatar-url="state.avatarUrl"
        @handleFileUpload="handleFileUpload"
        @clickDelete="clickDeletePhoto"
      />
    </div>
    <form action="#" class="profile_form w-full">
      <div class="profile_form-item">
        <InputField
          :id="'name'"
          v-model="v.name.$model"
          big
          :v="v.name"
          label="Имя"
          placeholder="Введите имя..."
        />
      </div>
      <div class="profile_form-item">
        <InputField
          :id="'surname'"
          v-model="v.surname.$model"
          big
          :v="v.surname"
          label="Фамилия"
          placeholder="Введите фамилию..."
        />
      </div>
      <div class="profile_form-item">
        <EmailField
          :id="'email'"
          v-model="v.email.$model"
          big
          :label="'Почта'"
          :placeholder="'example@gmail.com'"
          :v="v.email"
        />
      </div>
      <div class="profile_form-item">
        <TextareaField :id="'description'" v-model="state.description" :v="v.description" label="О вас" placeholder="Опишите себя..." />
      </div>
      <div v-if="isChanged" class="btn_wrap">
        <Button type="save" :loading="isSaving" @click="submitForm">
          Сохранить?
        </Button>
      </div>
    </form>
  </div>
</template>

<script>
import { computed, onMounted, reactive, ref, useStore } from '@nuxtjs/composition-api'
import { email, required } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import TextareaField from '@/components/ui/formsField/TextareaField'
import InputField from '@/components/ui/formsField/InputField'
import EmailField from '@/components/ui/formsField/EmailField'
import Button from '@/components/ui/buttons/Button'
import AvatarField from '@/components/ui/formsField/AvatarField'
export default {
  name: 'ProfileForm',
  components: { Button, InputField, TextareaField, EmailField, AvatarField },
  setup (props, { root }) {
    const state = reactive({
      email: '',
      name: '',
      surname: '',
      description: '',
      avatar: null,
      avatarUrl: '',
    })

    let isSaving = ref(false)

    const submitForm = () => {
      v.value.$touch()
      if (!v.value.$invalid) {
        isSaving = true
        store.dispatch('auth/handleProfile', state)
        isSaving = false
      }
    }

    const store = useStore()

    const rules = computed(() => ({
      email: {
        required,
        email,
      },
      name: {
        required,
      },
      surname: {
        required,
      },
      description: {
        required,
      },
    }))

    const isChanged = computed(() => {
      return !(state.name === store.state.auth.user.name &&
        state.surname === store.state.auth.user.surname &&
        state.description === store.state.auth.user.description &&
      state.email === store.state.auth.user.email &&
        validImage())
    })

    const validImage = () => {
      if (store.state.auth.user?.images.length > 0) {
        return `${root.$env.IMAGE_URL}${store.state.auth.user?.images[0]?.img}` === state.avatarUrl
      }
      return state.avatarUrl === ''
    }

    const handleFileUpload = (file) => {
      state.avatar = file
      state.avatarUrl = URL.createObjectURL(file)
    }

    const clickDeletePhoto = () => {
      state.avatarUrl = ''
      state.avatar = null
      if (store.state.auth.user?.images.length > 0) {
        state.avatarUrl = `${root.$env.IMAGE_URL}${store.state.auth.user?.images[0]?.img}`
      }
    }

    const viewModal = () => {
      state.name = store.state.auth.user.name
      state.surname = store.state.auth.user.surname
      state.email = store.state.auth.user.email
      state.description = store.state.auth.user.description
      state.avatarUrl = store.state.auth.user.images.length > 0 ? `${root.$env.IMAGE_URL}${store.state.auth.user.images[0].img}` : ''
    }

    const v = useVuelidate(rules, state)

    onMounted(() => {
      viewModal()
    })

    return {
      v,
      state,
      isChanged,
      submitForm,
      isSaving,
      handleFileUpload,
      clickDeletePhoto,
    }
  },
}
</script>

<style scoped>
.profile_form {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  max-width: 1024px;
  margin-top: 30px;
}

.profile_form-item {
  padding-top: 8px;
  flex: 1;
}

.profile_form-item-full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin-top: 30px;
}

.btn_wrap {
  width: 100%;
}
</style>
