<template>
  <SwitchingProfileBtn v-model="status" :items="items.items" />
</template>

<script>
import { computed, reactive, useRouter } from '@nuxtjs/composition-api'
import SwitchingProfileBtn from '@/components/ui/buttons/SwitchingProfileBtn'
export default {
  name: 'ProfileFilter',
  components: { SwitchingProfileBtn },
  props: {
    value: {
      type: String,
      default: 'profile',
    },
  },
  setup (props, { emit }) {
    const router = useRouter()
    const items = reactive({
      items: [
        {
          value: '/profile',
          label: 'О вас',
        },
        {
          value: '/profile/tasks',
          label: 'Ваши объявления',
        },
      ],
    })

    const status = computed({
      get () {
        return props.value
      },
      set (newValue) {
        emit('input', newValue)
        router.push(newValue)
      },
    })

    return {
      items,
      status,
    }
  },
}
</script>

<style scoped>

</style>
