<template>
  <div class="swiper">
    <div class="swiper-wrapper swiper_wrapper">
      <div v-for="image in images" :key="image.id" class="swiper-slide swiper_slide">
        <img :src="`${$env.IMAGE_URL}/${image.img}`" class="task_image" alt="">
      </div>
    </div>
  </div>
</template>

<script>
import { Swiper } from 'swiper'
import { onMounted, ref } from '@nuxtjs/composition-api'
export default {
  name: 'TaskImageSlider',
  props: {
    images: {
      type: Array,
      default: () => [],
    },
  },
  setup () {
    let swiperInstance = ref(null)

    onMounted(() => {
      swiperInstance = new Swiper('.swiper', {
        direction: 'horizontal',
        initialSlide: 0,
        slidesPerView: 3,
        spaceBetween: 10,
        loop: false,
        breakpoints: {
          1176: {
            slidesPerView: 4,
            spaceBetweenSlides: 30,
          },
        },
      })
    })

    return {
      swiperInstance,
    }
  },
}
</script>

<style scoped>
.task_image {
  width: 186px;
  height: 124px;
  object-fit: cover;
  border-radius: 10px;
}

.swiper_wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.swiper_slide {
  width: 186px;
  height: 124px;
  display: flex;
}
.swiper {
  width: 100%;
  overflow: hidden;
}
</style>
