<template>
  <Section v-if="isAuth" full column>
    <nuxt />
  </Section>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import Section from '@/components/ui/section/Section'
export default {
  components: { Section },
  setup () {
    const store = useStore()
    return {
      isAuth: computed(() => store.getters['auth/isAuthenticated']),
    }
  },
}
</script>

<style scoped>

</style>
