<template>
  <Section v-if="isAuth" full column>
    <HeaderContainer />
    <div class="flex-row my_flex w-full relative flex_block">
      <Nav />
      <div class="body_page">
        <nuxt />
      </div>
    </div>
  </Section>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import Section from '@/components/ui/section/Section'
import HeaderContainer from '@/containers/header/HeaderContainer'
import Nav from '@/components/header/Nav'

export default {
  name: 'Main',
  components: { Nav, HeaderContainer, Section },
  setup () {
    const store = useStore()
    return {
      isAuth: computed(() => store.getters['auth/isAuthenticated']),
    }
  },
}
</script>

<style scoped>
.body_page {
  width: calc(100% - 240px);
  margin-left: 10px;
  height: calc(100vh - 100px);
  overflow: auto;
}

.body_page::-webkit-scrollbar {
   width: 10px;
   background: #d9d9d9;
   border-radius: 10px;
 }
.body_page::-webkit-scrollbar-thumb {
   width: 10px;
   border-radius: 10px;

   background: #F1C310;
}

.flex_block {
  flex: unset !important;
}

@media (max-width: 767px) {
  .body_page {
    width: 100%;
  }
}
</style>
