<template>
  <section class="min-h-full bg-white">
    <div :class="classes" class="container max_width min-h-screen max-w-screen-lg my_flex m-auto md:max-w-max">
      <slot />
    </div>
  </section>
</template>

<script lang="ts">
import { computed } from '@nuxtjs/composition-api'
import Vue from 'vue'

export default Vue.extend({
  name: 'Section',
  props: {
    center: {
      type: Boolean,
      default: false,
    },
    full: {
      type: Boolean,
      default: false,
    },
    row: {
      type: Boolean,
      default: false,
    },
    column: {
      type: Boolean,
      default: false,
    },
  },
  setup (props) {
    const classes = computed(() => {
      return {
        'items-center': props.center,
        'justify-center': props.center,
        'max_width-full': props.full,
        'flex-row': props.row,
        'flex-col': props.column,
      }
    })

    return { classes }
  },
})
</script>

<style scoped>
.max_width {
  max-width: 1144px;
}

.max_width-full {
  width: 100% !important;
  max-width: 1680px !important;
}
</style>
