<template>
  <component
    :is="component"
    class="helpme-button"
    :class="classes"
    :to="to"
    :url="url"
    :disabled="disabled"
    :_target="target"
    :type="actionType"
    @click="onClick"
  >
    <span class="helpme-button__content">
      <SvgIcon
        v-if="loading"
        class="helpme-button__loader"
        name="loader"
      />
      <span class="content__button">
        <slot />
      </span>
    </span>
  </component>
</template>

<script>
export default {
  name: 'Button',
  props: {
    type: {
      type: String,
      default: 'primary',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    to: {
      type: [String, Object],
      default: '',
    },
    url: {
      type: String,
      default: '',
    },
    target: {
      type: String,
      default: '_self',
    },
    icon: {
      type: String,
      default: '',
    },
    full: {
      type: Boolean,
      default: false,
    },
    actionType: {
      type: String,
      default: 'button',
      validator: type => ['button', 'reset', 'submit'].includes(type),
    },
  },
  computed: {
    component ({ url, to }) {
      if (url) { return 'a' }
      if (to) { return 'nuxt-link' }
      return 'button'
    },
    classes: ({ type, disabled, loading, full }) => ({
      [`helpme-button_${type}`]: true,
      'helpme-button_disabled': disabled || loading,
      'helpme-button_loading': loading,
      'helpme-button_full': full,
    }),
  },
  methods: {
    onClick () {
      if (this.disabled || this.loading) {
        return false
      }
      this.$emit('click')
    },
  },
}
</script>

<style scoped>

.helpme-button {
  outline: 0;
  border: 0;
  background: white;
  margin-top: 20px;
  position: relative;
}

.helpme-button:focus {
  outline: 0;
}

.helpme-button_auth {
  width: 100%;
  padding: 15px;
  text-align: center;
  background: #FF8181;
  color: white;
  font-size: 16px;
  border-radius: 15px;
}

.helpme-button_registration {
  width: 100%;
  padding: 15px;
  text-align: center;
  background: #F1C310;
  color: white;
  font-size: 16px;
  border-radius: 15px;
}

.helpme-button_feedback {
  width: 100%;
  background: rgba(241, 195, 16, 0.6);
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 15px;

  font-family: Inter, sans-serif;
  transition: background 0.1s linear;
}

.helpme-button_feedback:hover {
  background: rgba(241, 195, 16, 0.7);
}
.helpme-button_started {
  width: 100%;
  padding: 14px;
  text-align: center;
  border: 1px solid rgba(255, 129, 129, 0.35);
  background: white;
  border-radius: 10px;
  font-size: 16px;
  color: rgba(19,19,19,1);
}

.helpme-button_save {
  padding: 14px 18px;
  text-align: center;
  background: rgba(241, 195, 16, 1);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: white;
  transition: background 0.2s linear;
}

.helpme-button_save:hover {
  background: rgba(241, 195, 16, 0.7);
}

.helpme-button_choose {
  width: 100%;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
  background: white;
  outline: 0;
  border: 0;
  padding: 20px;
  text-align: center;
  color: rgba(170, 170, 170, 1);
  font-size: 18px;
  font-weight: 500;
  font-family: Inter,sans-serif;
  margin-bottom: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helpme-button_started {
  width: 50%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter,sans-serif;
  margin-bottom: 50px;
  background: #F1C310;
  padding: 14px 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.helpme-button_createTask {
  padding: 12px 18px;
  background: rgba(241, 195, 16, 1);
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 15px;
}

.helpme-button_acceptFeedback {
  padding: 6px 12px;
  background: rgba(241, 195, 16, 1);
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border-radius: 12px;

  margin-left: 6px;
}

.helpme-button_cancelFeedback {
  padding: 6px 12px;
  background: #e5e5e5;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.82);
  border-radius: 12px;
}

.helpme-button_deleteTask {
  padding: 12px 18px;
  background: #e5e5e5;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.82);
  border-radius: 15px;
}

.helpme-button_complaint {
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 700;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 10px;

  border: 1px solid rgba(193, 193, 193, 1)
}

.helpme-button__loader {
  width: 22px;
  height: 22px;
  opacity: 1 !important;
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
  animation: spin 2s infinite linear;
}

.helpme-button_disabled {
  background:rgba(30, 30, 30, 0.04);
}

.helpme-button_loading .content__button {
  opacity: 0;
}
</style>
