<template>
  <button type="button" class="google__btn flex items-center justify-center">
    <span class="svg_google">
      <SvgIcon name="google" />
    </span>
    <span class="google_text font-bold text-base">Continue with Google</span>
  </button>
</template>

<script>
export default {
  name: 'GoogleBtn',
}
</script>

<style scoped>
.google__btn {
  cursor: pointer;
  background: white;
  border: 1px solid rgba(30, 30, 30, 0.08);
  padding: 16px;
  width: 100%;
  border-radius: 15px;

  outline: 0;
}

.google__btn:focus{
  outline: 0;
}

.svg_google {
margin-right: 7px;
}

.google_text {
  color: rgba(30, 30, 30, 1);
}
</style>
