<template>
  <button type="button" class="logout" @click="onClick">
    <SvgIcon name="door-open-fill" class="logout_svg" />
    <span class="logout_text font-bold">Выйти</span>
  </button>
</template>

<script>
import { useStore } from '@nuxtjs/composition-api'

export default {
  name: 'Logout',
  setup () {
    const store = useStore()
    const onClick = () => {
      store.dispatch('auth/handleLogout')
    }

    return {
      onClick,
    }
  },
}
</script>

<style scoped>
.logout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  cursor: pointer;

  background: none;
  border: 0;
  outline: 0;
}

.logout:focus{
  outline: 0;
}
.logout_text {
  margin-left: 6px;
  color: #C1C1C1;
  font-size: 18px;
}

.logout_svg {
  width: 30px;
  height: 30px;
  color: #C1C1C1;
  fill: #C1C1C1;
}
</style>
