<template>
  <div class="my_flex flex-row w-full">
    <button
      v-for="item in items"
      :key="item.value"
      type="button"
      class="switching-buttons__item"
      :class="{ 'switching-buttons__item_active': item.value === value }"
      @click="onClick(item)"
    >
      <div class="switching-buttons__item-label">
        {{ item.label }}
      </div>
    </button>
  </div>
</template>

<script>
export default {
  name: 'SwitchingProfileBtn',
  props: {
    value: {
      type: String,
      default: '',
    },
    items: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    onClick (item) {
      this.$emit('input', item.value)
    },
  },
}
</script>

<style scoped>
.switching-buttons__item {
  background: white;
  border: none;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 25px;
}

.switching-buttons__item:focus{
  outline: 0;
}

.round_label {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  margin-top: 3px;
}

.switching-buttons__item-label {
  color: #C1C1C1;
  font-size: 20px;
  font-family: Roboto,sans-serif;
  font-weight: bold;
}

.switching-buttons__item_active .switching-buttons__item-label {
  color: #474747;
}
</style>
