<template>
  <AuthForm :is-saving="isSaving" @submitForm="submitForm" />
</template>

<script>
import { ref, useStore } from '@nuxtjs/composition-api'
import AuthForm from '@/components/auth/AuthForm'
export default {
  name: 'AuthFormContainer',
  components: { AuthForm },
  setup () {
    let isSaving = ref(false)
    const store = useStore()

    const submitForm = (payload) => {
      isSaving = true
      store.dispatch('auth/handleLogin', payload)
      isSaving = false
    }

    return { isSaving, submitForm }
  },
}
</script>

<style scoped>

</style>
