<template>
  <GoogleBtn />
</template>

<script>
import GoogleBtn from '@/components/ui/buttons/GoogleBtn'
export default {
  name: 'GoogleBtnContainer',
  components: { GoogleBtn },
}
</script>

<style scoped>

</style>
