<template>
  <div class="notification_grid">
    <NotificationFilter v-model="status" />

    <div class="notification_items">
      <Notification :message="'Lorem ipsum dolor sit amet, consectetur'" :count="200" />
      <Notification :message="'Lorem ipsum dolor sit amet, consectetur'" :count="20" />
      <Notification :message="'Lorem ipsum dolor sit amet, consectetur'" :count="30" />
      <Notification :message="'Lorem ipsum dolor sit amet, consectetur'" :count="40" />
    </div>

    <nuxt-link to="/profile/chat" class="more_notification">
      Ещё...
    </nuxt-link>
  </div>
</template>

<script>

import { ref } from '@nuxtjs/composition-api'
import NotificationFilter from '~/components/home/NotificationFilter'
import Notification from '~/components/ui/notification/Notification'
export default {
  name: 'GridNotifications',
  components: { Notification, NotificationFilter },
  setup () {
    const status = ref('personal')

    return {
      status,
    }
  },
}
</script>

<style scoped>
.notification_grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
}

.notification_items {
  margin-top: 30px;
}

.more_notification {
  width: 80%;
  color: #C1C1C1;
  font-weight: bold;
  font-family: Inter, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
  text-decoration: none;
  padding: 4px 5px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.more_notification:hover {
  text-decoration: none;
  color: #C1C1C1;
}
</style>
