<template>
  <div>
    <div v-if="title !== ''" class="my_flex flex-row items-center mb-2 w-full">
      <h4 class="header_grid--title">
        {{ title }}
      </h4>
      <nuxt-link to="/task" class="all_elements my_flex flex-row items-center">
        <span class="all_text">Все</span>
        <SvgIcon name="arrw" class="fill-arrw" />
      </nuxt-link>
    </div>
    <TaskContainer />
  </div>
</template>

<script>
import TaskContainer from '~/containers/home/TaskContainer'
export default {
  name: 'GridPosts',
  components: { TaskContainer },
  props: {
    title: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.all_elements {
  margin-left: 40px;
  margin-top: 3px;
}
.header_grid {
  width: 100%;
}

.all_text {
color: #C1C1C1;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, sans-serif;
  margin-right: 4px;
}

.header_grid--title {
  font-size: 24px;
  font-weight: bold;
  font-family: Inter, sans-serif;
  color: black;
}

.fill-arrw {
  color: #C1C1C1;
  fill: #C1C1C1;
  width: 14px;
  height: 14px;
}

.mt-30 {
  margin-top: 30px;
}
</style>
