<template>
  <nuxt-link :to="`/chat/${chat.id}`" class="notification_block text_decoration">
    <div class="notification_info my_flex flex-row items-center">
      <div class="notification_avatar-block">
        <img v-if="userChat.images.length > 0" :src="`${$env.IMAGE_URL}${userChat.images[0].img}`" class="notification_avatar" alt="">
        <img v-else src="@/static/images/default/avatarDef.png" class="notification_avatar" alt="">
      </div>
      <div class="notification_info-text">
        <h4 class="notification_text-name font-semibold">
          {{ userChat.name }} {{ userChat.surname }}
        </h4>
        <p class="notification_text-message">
          {{ shortMessage }}
        </p>
      </div>
    </div>
    <div class="notification_stat my_flex flex-col justify-start items-end">
      <span v-if="false" class="notification_stat-date">12:00 am</span>
      <span v-if="false" class="notification_stat-counter">{{ shortMessageCount }}</span>
    </div>
  </nuxt-link>
</template>

<script>
import { computed, useStore } from '@nuxtjs/composition-api'
import useShortData from '~/composables/task/useShortData'

export default {
  name: 'Notification',
  props: {
    message: {
      type: String,
      default: '',
    },
    count: {
      type: Number,
      default: 0,
    },
    chat: {
      type: Object,
      default: () => {},
    },
  },
  setup (props) {
    const { state } = useStore()
    const { shortMessage, shortMessageCount } = useShortData(props)

    const userChat = computed(() => {
      if (props.chat?.helper.id === state.auth.user.id) {
        return props.chat?.taker
      }
      return props.chat?.helper
    })

    return {
      shortMessage,
      shortMessageCount,
      userChat,
    }
  },
}
</script>

<style scoped>
.notification_block {
  width: 80%;
  padding: 19px 15px;
  background: white;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.text_decoration {
  text-decoration: none;
  color: #333333;
}

.text_decoration:focus{
  color: #333333;
  text-decoration: none;
}

.notification_avatar-block {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.notification_avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.notification_info-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.notification_text-name {
  font-size: 16px;
  font-family: Inter, sans-serif;
  color: #333333;
  margin-bottom: 4px;
}

.notification_text-message {
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: #C1C1C1;
}

.notification_stat-date {
  font-size: 13px;
  font-family: Inter,sans-serif;
  color: #C1C1C1;
}

.notification_stat-counter {
  width: 21px;
  height: 21px;
  text-align: center;
  border-radius: 5px;
  background: #92AAFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  margin-top: 5px;
}

</style>
