body {
  font-family: "Montserrat", sans-serif;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 24px;
  height: 100%;
}

#__layout, #__nuxt {
  height: 100%;
}

.flex, .child-flex > * {
  flex: unset;
  /* max-width: 100%; */
}

.my_flex {
  display: flex;
}

.container {
  padding: 0 !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
