<template>
  <div class="notification_block text_decoration">
    <div class="notification_info my_flex flex-row items-center">
      <div class="notification_avatar-block">
        <v-skeleton-loader
          class="notification-skeleton__image"
          type="image"
        />
      </div>
      <div class="notification_info-text">
        <v-skeleton-loader
          class="notification-item-skeleton__title"
          type="chip"
        />
      </div>
    </div>
    <div v-if="false" class="notification_stat my_flex flex-col justify-start items-end">
      <span class="notification_stat-date">12:00 am</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotificationItemSkeleton',
}
</script>

<style scoped>

.notification_block {
  width: 80%;
  padding: 19px 15px;
  background: white;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.text_decoration {
  text-decoration: none;
  color: #333333;
}

.text_decoration:focus{
  color: #333333;
  text-decoration: none;
}

.notification_avatar-block {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.notification-skeleton__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.notification_info-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-bottom: -5px;
}

.notification_text-name {
  font-size: 16px;
  font-family: Inter, sans-serif;
  color: #333333;
  margin-bottom: 4px;
}

.notification_text-message {
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: #C1C1C1;
}

.notification-item-skeleton__title {
  height: 40px;
  margin-top: 0px;
}

.notification-item-skeleton__title {

}
</style>
