<template>
  <div class="w-full my_flex flex-row flex-wrap mt-16">
    <NotificationItemSkeleton
      v-for="n in count"
      :key="n"
    />
  </div>
</template>

<script>
import NotificationItemSkeleton from '@/components/sceletons/notification/NotificationItemSkeleton'
export default {
  name: 'NotificationSkeletonGroup',
  components: { NotificationItemSkeleton },
  props: {
    count: {
      type: Number,
      default: 3,
    },
  },
}
</script>

<style scoped>

</style>
