<template>
  <div ref="scrollList" class="message_list" @scroll="handleScroll">
    <Message v-for="message in messages" :key="message.id" :message="message" :taker="message.sender.id === user" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Message from '@/components/chat/message/Message'
export default {
  name: 'MessageList',
  components: { Message },
  props: {
    alwaysScrollToBottom: {
      type: Boolean,
      default: true,
    },
    messages: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    ...mapState({
      user: state => state.auth.user.id,
    }),
  },
  mounted () {
    this.$nextTick(this._scrollDown())
  },
  updated () {
    if (this.shouldScrollToBottom()) { this.$nextTick(this._scrollDown()) }
  },
  methods: {
    _scrollDown () {
      this.$refs.scrollList.scrollTop = this.$refs.scrollList.scrollHeight
    },
    handleScroll (e) {
      if (e.target.scrollTop === 0) {
        this.$emit('scrollToTop')
      }
    },
    shouldScrollToBottom () {
      const scrollTop = this.$refs.scrollList.scrollTop
      const scrollable = scrollTop > this.$refs.scrollList.scrollHeight - 600
      return this.alwaysScrollToBottom || scrollable
    },
  },
}
</script>

<style scoped>
.message_list {
  width: 100%;
  height: 85%;
  overflow: auto;
  padding-right: 10px;
  scroll-behavior: smooth;
}

.message_list::-webkit-scrollbar {
  width: 6px;
  background: #d9d9d9;
  border-radius: 6px;
}
.message_list::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;

  background: rgba(0, 0, 0, 0.20);
}
</style>
