<template>
  <div :class="{'message_taker': taker}" class="message">
    <div :class="{'message_taker': taker}" class="message_block_w">
      <div :class="{'author_taker': taker}" class="message_author">
        <img v-if="avatar.images.length > 0" :src="`${$env.IMAGE_URL}${avatar.images[0].img}`" class="message_author-img" alt="">
        <img v-else src="@/static/images/default/avatarDef.png" class="message_author-img" alt="">
      </div>
      <div :class="{'order_taker': taker}" class="message_block">
        <div :class="{'message_block-text_taker': taker}" class="message_block-text">
          {{ message.message }}
        </div>
        <div class="message_block-date">
          {{ dateCreate }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Message',
  props: {
    taker: {
      type: Boolean,
      default: false,
    },
    message: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    ...mapState({
      profile: state => state.chat.chatInfo,
      user: state => state.auth.user,
    }),
    classes () {
      return {
        'message_block-text_taker': this.taker,
      }
    },
    dateCreate () {
      const parseDate = new Date(Date.parse(this.message.sent_at))
      return parseDate.toLocaleString('ru', {
        hour: 'numeric',
        minute: 'numeric',
      })
    },
    avatar () {
      if (this.taker) {
        return this.message.sender
      }
      if (this.profile?.helper?.id === this.user?.id) {
        return this.profile?.taker
      }
      return this.profile?.helper
    },
  },
}
</script>

<style scoped>
.message {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.message_taker {
  justify-content: flex-end;
}

.message_block_w {
  min-width: 300px;
  max-width: 48%;
  display: flex;
  align-items: flex-start;
}

.message_author {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message_author-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.message_block {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.message_block-text {
  padding: 15px 17px;
  background: white;
  border-radius: 12px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 15px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.message_block-text_taker {
  background: #E1FFC5;
}

.order_taker {
  order: 1;
  margin-left: 0;
  margin-right: 10px;
}

.author_taker {
  order: 2;
}

.message_block-date {
  font-size: 12px;
  font-weight: 500;
  color: #AAAAAA;
  text-align: left;
}
</style>
