<template>
  <div class="w-full my_flex flex-row flex-wrap mt-30">
    <TaskItemSmallSkeleton
      v-for="n in count"
      :key="n"
    />
  </div>
</template>
<script>
import TaskItemSmallSkeleton from '@/components/sceletons/TaskItemSmallSkeleton'
export default {
  name: 'TaskItemSkeletonGroup',
  components: { TaskItemSmallSkeleton },
  props: {
    count: {
      type: Number,
      default: 8,
    },
  },
}
</script>

<style scoped>

</style>
