<template>
  <div class="w-full my_flex flex-row flex-wrap mt-16">
    <TaskItemBigSkeleton
      v-for="n in count"
      :key="n"
    />
  </div>
</template>
<script>
import TaskItemBigSkeleton from '@/components/sceletons/TaskItemBigSkeleton'
export default {
  name: 'TaskItemBigSkeletonGroup',
  components: { TaskItemBigSkeleton },
  props: {
    count: {
      type: Number,
      default: 3,
    },
  },
}
</script>

<style scoped>

</style>
