<template>
  <div class="task text_decoration">
    <v-skeleton-loader
      class="task-item-skeleton__image"
      type="image"
    />
    <div class="task-item-skeleton__info">
      <v-skeleton-loader
        class="task-item-skeleton__title"
        type="list-item-two-line"
      />
      <v-skeleton-loader
        class="task-item-skeleton__text"
        type="chip"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TaskItemBigSkeleton',
}
</script>

<style scoped>
.task {
  width: 30%;
  min-height: 231px;
  background: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.task-item-skeleton__image {
  width: 100%;
  max-height: 144px;
  border-radius: 15px 15px 2px 2px;
  position: relative;
}
.task-item-skeleton__info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}

.task-item-skeleton__title {
  height: 62px;
  margin-top: 6px;
}

.task-item-skeleton__text .v-skeleton-loader__chip {
  width: 60px;
  height: 10px;
  margin: 0 16px;
}
</style>
